@import "$styles/_variables";

.fieldsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.firstRow {
  display: flex;
  flex-direction: row;
}

div.career {
  margin-right: $spacing-xxl;
}

.secondRow {
  display: flex;
  flex-direction: row;
  margin-top: $spacing-m;
}

div.currentCareerYear {
  margin-right: $spacing-xxl;
}

.approvedSubjectCount {
  width: unset;
}

@media (max-width: $laptopWidth) {
  .fieldsContainer {
    flex-direction: column;
  }

  .firstRow,
  .secondRow {
    flex-direction: column;
  }

  .isGraduate {
    margin-top: $spacing-m;
  }

  div.career {
    margin-bottom: 0;
  }

  div.currentCareerYear {
    margin-bottom: $spacing-m;
  }

  div.career,
  div.currentCareerYear {
    width: 100%;
  }
}
