@import '$styles/mixins/_text';
@import '$styles/_variables';

.tag {
  @include text;

  background: #26a69a;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  padding: 2px 4px;
  width: fitcontent;
}

.removeButton {
  color: $white;
  font-size: $smallFontSize;
  line-height: unset;
  margin-left: 2px;

  &:hover,
  &:active {
    color: $lighterGrey;
  }
}
