@import "$styles/_variables.scss";

.jobDescription {
  font-weight: bold;
}

.container {
  flex-basis: 100%;
  margin: 0 0 0 $bigSpacing;
  display: flex;
  flex-direction: column;
}

.separator {
  background: $lightGrey;
  height: 1px;
  border: none;
  margin: $normalSpacing 0;
}

.detailsContainer {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.firstColumn, .secondColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  width: 50%;
}

.firstColumn {
  margin-right: $bigSpacing;
}

.secondColumn {
  flex-direction: row;
  justify-content: center;
}

.time {
  text-align: center;
  margin-top: $smallSpacing;
}

@media (max-width: $mobileContainerThreshold) {
  .detailsContainer {
    flex-direction: column;
  }
  .firstColumn {
    flex-direction: column-reverse;
    width: 100%;
    display: flex;
    margin: 0;
  }
  .companyName {
    text-align: left;
    margin-bottom: $normalSpacing;
  }
  .time {
    display: none;
  }
}
