@import "$styles/_variables.scss";

.jobDescription {
  font-weight: bold;
}

.container {
  flex-basis: 100%;
  margin: $smallSpacing $smallSpacing $smallSpacing $bigSpacing;
  flex-direction: column;
}

.separator {
  background: $lightGrey;
  height: 1px;
  border: none;
}

.detailsContainer {
  display: flex;
  margin: $bigSpacing $bigSpacing 0;
  justify-content: space-around;
}

.firstColumn {
  flex-direction: column;
}

.time {
  text-align: center;
}
