@import "$styles/_variables";

.jobDescription {
  font-weight: bold;
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin: 0 0 0 $bigSpacing;
}

.separator {
  background: $lightGrey;
  border: 0;
  height: 1px;
  margin: $normalSpacing 0;
}

.detailsContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.firstColumn,
.secondColumn {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.firstColumn {
  margin-right: $bigSpacing;
}

.time {
  margin-top: $smallSpacing;
  text-align: center;
}

.mobileTime {
  display: none;
}

.mobileLogo {
  display: none;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: $mobileContainerThreshold) {
  .detailsContainer {
    flex-direction: column;
  }

  .firstColumn {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
  }

  .companyName {
    margin-bottom: $normalSpacing;
    text-align: left;
  }

  .time {
    display: none;
  }

  .mobileTime {
    display: flex;
  }

  .mobileLogo {
    align-self: unset;
    display: flex;
  }

  .container {
    margin: 0;
  }

  .headerContainer {
    flex-direction: row;
    margin-bottom: $normalSpacing;
  }

  .subtitleContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: $normalSpacing;
  }

  .separator {
    margin: $smallSpacing 0;
  }
}
