@import "$styles/_variables";

.userDetails {
  font-size: $fontSize-l;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.email {
  margin-bottom: $spacing-s;
}

.withoutMarginBottom {
  margin-bottom: 0;
}

@media (max-width: $largeLaptopWidth) {
  .firstRow {
    flex-direction: column;
  }
}
