@import "$styles/_variables";

.userDetails {
  font-size: $fontSize-l;
  overflow-wrap: anywhere;
}

.businessSector {
  flex-shrink: 0;
}

.businessSectorValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.withoutMarginBottom {
  margin-bottom: 0;
}

@media (max-width: $largeLaptopWidth) {
  .firstRow {
    flex-direction: column;
  }
}
