@import "$styles/_variables";

.userDetails {
  font-size: $fontSize-l;
  overflow-wrap: anywhere;
}

.withoutMarginBottom {
  margin-bottom: 0;
}

@media (max-width: $largeLaptopWidth) {
  .firstRow {
    flex-direction: column;
  }
}
