@import "$styles/_variables";
@import "$styles/mixins/_text";

.item {
  display: flex;
  flex-direction: column;

  .title {
    @include text;

    font-weight: bold;
    margin-bottom: $smallSpacing;
  }
}
