@import "$styles/_variables";

.row {
  min-height: $spacing-xxl;
  padding: $spacing-s;

  &:nth-child(odd) {
    background-color: $lighterGrey;
  }

  &:hover {
    background-color: $selectedColor;
  }
}
