@import "$styles/_variables";
@import "$styles/mixins/_formSectionTitle";

.fields {
  display: flex;
}

div.dniField {
  margin-right: $spacing-xxl;
}

@media (max-width: $mobileContainerThreshold) {
  .fields {
    flex-direction: column;
  }
}
