@import "$styles/_variables";
@import "$styles/mixins/_lists";

.row {
  @include applicantListRows;

  padding: $spacing-s;

  &.grey {
    background-color: $lighterGrey;
  }

  &:hover {
    background-color: $selectedColor;
  }
}
