@import "$styles/_variables";
@import "$styles/mixins/_customMedia";
@import "$styles/mixins/_mobileClass";

.actionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 32%;
}

@mixin defaultActionsDisplay {
  .secondActionRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .editButton {
    margin-bottom: $spacing-s;
    width: 100%;
  }

  .expireButton {
    flex-grow: 1;
    min-width: 48%;
  }

  .republishButton {
    flex-grow: 1;
    white-space: pre-line;
  }

  .showTwoButtons {
    margin-right: $spacing-s;
  }

  .separator {
    flex-grow: 1;
  }
}

@include defaultActionsDisplay;

@include customMedia {
  .secondActionRowContainer {
    flex-direction: column;
  }

  .republishButton {
    margin-top: $spacing-s;
    white-space: pre-line;
    width: 100%;
  }

  .expireButton {
    margin-top: $spacing-s;
    width: 100%;
  }
}

@include mobileClass {
  @include defaultActionsDisplay;
}
