@import "$styles/_variables";

.cardContainer {
  margin: 0 auto;
  padding: $spacing-l;
  width: 80%;

  &:not(:last-child) {
    margin-bottom: $spacing-l;
  }
}

.title {
  margin-bottom: $spacing-xl;
}

@media (max-width: $tabletWidth) {
  .cardContainer {
    margin: 0;
    padding: $spacing-m;
    width: unset;
  }

  .withAppliedTag {
    padding-top: $spacing-xxl;
  }
}
