@import "$styles/_variables.scss";

.headers {
  display: flex;
  flex-direction: row;
}

.addIcon {
  padding-left: 10px;
  margin-bottom: $itemMarginBottom;
}


.items {
  display: flex;
  flex-direction: column;

  .title {
    font-weight: bold;
    margin-bottom: $itemMarginBottom;
  }

  .row {
    display: flex;
    flex-direction: row;

    .item {
      margin-bottom: $itemMarginBottom;
    }

    .separator {
      flex-grow: 1;
    }

    .deleteIcon {
      padding-left: 10px;
    }

  }

  .footer {
    display: flex;
    flex-direction: row;

    .checkIcon {
      padding-left: 10px;
    }
  }
}

@media (max-width: $mobileContainerThreshold) {
  .items {
    margin: 20px 0 0 0;
    column-count: 1;
    max-width: 430px;
  }
}
