@import "$styles/_variables";

.content {
  margin: $spacing-s $spacing-l $spacing-l;
}

.taskDetail {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  max-width: 1000px;
  width: 100%;
}
