@import "$styles/_variables";
@import "$styles/mixins/_tableList";

.text {
  @include bodyItem;
}

.statusContainer,
.seeDetailButton {
  @include bodyItem;

  align-self: center;
  justify-self: center;
  padding: $spacing-xs;
}
