@import "$styles/_variables";

@mixin rowItem {
  align-self: center;
  font-size: $fontSize-m;
  font-weight: $fontWeight-r;
  justify-self: center;
}

.text {
  @include rowItem;
}

.careerText {
  font-weight: $fontWeight-r;
}

.statusContainer {
  align-self: center;
  justify-self: center;
}
