@import "$styles/_variables";

.row {
  margin: 0 auto;
  padding: $normalSpacing;
  width: 70%;

  &:not(:last-child) {
    margin-bottom: $bigSpacing;
  }
}

.childrenContainer {
  display: flex;
  flex-direction: row;

  .companyLogo {
    display: flex;
    margin-right: $normalSpacing;
  }

  .name {
    align-self: center;
    display: flex;
  }
}

@media (max-width: $smallMobileContainerThreshold) {
  .childrenContainer {
    flex-direction: column;

    .companyLogo {
      margin-bottom: $smallFontSize;
    }
  }
}
