@import "$styles/_variables";

.row {
  margin: 0 auto;
  padding: $spacing-m;
  width: 70%;

  &:not(:last-child) {
    margin-bottom: $spacing-l;
  }
}

.childrenContainer {
  display: flex;
  flex-direction: row;

  .companyLogo {
    display: flex;
    margin-right: $spacing-m;
  }

  .name {
    align-self: center;
    display: flex;
  }
}

.emptyListContainer {
  margin-top: 20%;
}

@media (max-width: $smallMobileWidth) {
  .childrenContainer {
    flex-direction: column;

    .companyLogo {
      margin-bottom: $spacing-m;
    }
  }
}
