@import "$styles/_variables";

.tag {
  border-bottom-left-radius: $borderRadius-s;
  border-top-right-radius: $borderRadius-l;
  color: $white;
  padding: $spacing-xs / 2 $spacing-s;
  position: absolute;
  right: 0;
  top: 0;
}

.green {
  background-color: $green;
}

.blue {
  background-color: #0288d1;
}
