@import "$styles/_detailsVariables.scss";
@import "$styles/_variables.scss";

.header {
  display: flex;
  flex-direction: row;
  padding-bottom: $bigSpacing;
  word-break: break-word;
}

.mainInfo {
  flex-grow: 1;
  margin-left: 36px;
  align-self: center;
}

.photos {
  margin: 0 auto;
  line-height: 0;
  column-count: 2;
  column-gap: $bigSpacing;

  img {
    width: 100%;
    height: auto;
    padding: $bigSpacing 0 0 0;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .header {
    flex-direction: column;
  }

  .mainInfo {
    margin-left: 0;
  }

  .photos {
    column-count: 1;
  }
}
