@import "$styles/_variables.scss";

.salaryInfo {
  display: flex;

  .salaryInfoText {
    font-size: $normalFontSize;
    margin-right: 5px;
    align-self: center;
  }

  .amount {
    font-weight: bold;
    font-size: $bigFontSize;
  }
}
