@import "$styles/_variables";

.salaryInfo {
  display: flex;

  .salaryInfoText {
    align-self: center;
    font-size: $normalFontSize;
    margin-right: 5px;
  }

  .amount {
    font-size: $bigFontSize;
    font-weight: bold;
  }
}
