@import "$styles/_detailsVariables.scss";

.items {
  display: flex;
  flex-direction: column;
  width: 50%;

  .item {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .title {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .items {
    margin: 20px 0 0 0;
    column-count: 1;
    max-width: 430px;
  }
}
