@import "$styles/_detailsVariables.scss";
@import "$styles/_variables.scss";
@import "$styles/_card.scss";

.mainContainer {
  flex-grow: 1;
  padding-bottom: 20px;
}

.detailContainer {
  @include card;

  margin: $biggerSpacing auto 0;
  max-width: $detailContainerMaxWidth;
}


@media (max-width: $mobileContainerThreshold) {
  .detailContainer {
    padding: 50px 10vw 0 10vw;
  }
}
