@import "$styles/_detailsVariables.scss";

.mainContainer {
  background: $background;
  flex-grow: 1;
  padding-bottom: 20px;
}

.detailContainer {
  padding: 20px $detailContainerHorizontalPadding 20px;
  margin: 0 auto;
  max-width: $detailContainerMaxWidth;
}


@media (max-width: $mobileContainerThreshold) {
  .detailContainer {
    padding: 50px 10vw 0 10vw;
  }
}
