@import "$styles/_variables.scss";

.contactInfo {
  display: flex;
  flex-direction: row;
  margin-top: $smallSpacing;

  .contactInfoDivider {
    margin: auto $smallSpacing;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .contactInfo {
    display: block;

    .contactInfoDivider {
      display: none;
    }
  }
}
