@import "$styles/_variables";

$lightBlueBtn: #E6F7FF;
$lightRedBtn: #FEE8E7;

.main {
  width: fit-content;
  min-width: 85px;
  min-height: 40px;
  padding: 1px 14px 1px 14px;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  justify-content: center;
}

@mixin btnColors($border, $background, $textColor) {
  border: 1px solid $border;
  background-color: $background;
  color: $textColor;

  &:hover {
    background-color: lighten($background, 3%);
  }

  &:active {
    background-color: darken($background, 3%);
  }
}

.primary {
  @include btnColors($mainBlue, $mainBlue, white);
}

.secondary {
  @include btnColors($mainBlue, $lightBlueBtn, $mainBlue);
}

.danger {
  @include btnColors($red, $lightRedBtn, $red);
}

.warning {
  @include btnColors($grey, $lightGrey, $grey);
}
