@import "$styles/_variables";
@import "$styles/mixins/_text";

$lightBlueBtn: #e6f7ff;
$lightRedBtn: #fee8e7;

.main {
  @include text;

  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  min-height: 40px;
  min-width: 85px;
  outline: none;
  padding: 1px 14px;
  text-decoration: none;
}

@mixin btnColors($border, $background, $textColor) {
  background-color: $background;
  border: 1px solid $border;
  color: $textColor;

  &:hover {
    background-color: lighten($background, 3%);
  }

  &:active {
    background-color: darken($background, 3%);
  }

  &:disabled {
    background-color: darken(desaturate($background, 80%), 5%);
    border-color: transparentize(desaturate($border, 80%), 0.15);
    color: transparentize(desaturate($textColor, 80%), 0.15);
    cursor: not-allowed;
  }
}

.expand {
  width: 100%;
}

.fitContent {
  width: fit-content;
}

.primary {
  @include btnColors($mainBlue, $mainBlue, white);
}

.secondary {
  @include btnColors($mainBlue, $lightBlueBtn, $mainBlue);
}

.danger {
  @include btnColors($red, $lightRedBtn, $red);
}

.warning {
  @include btnColors($grey, $lightestGrey, $grey);
}
