@import "$styles/_variables";

.typeFilterContainer {
  display: flex;
  flex-direction: column;

  > *:nth-child(n) {
    margin-bottom: $spacing-s;
  }
}

.title {
  color: $grey;
  font-size: $fontSize-s;
  margin-left: $spacing-s;
}
