@import "$styles/mixins/_subtitle.scss";
@import "$styles/mixins/_text.scss";
@import "$styles/_variables.scss";

.content {
  display: flex;
  align-items: flex-end;

  &:not(:last-child) {
    margin-bottom: $normalSpacing;
  }

  h2 {
    @include subtitle;

    font-weight: normal;
    line-height: $bigFontSize;
    margin: 0 0 0 $normalSpacing;
  }

  p {
    @include text;
    margin: 0 0 0 $smallSpacing;
  }

  h2, p {
    margin-bottom: 1px;
  }
}
