@import "$styles/mixins/_subtitle";
@import "$styles/mixins/_text";
@import "$styles/_variables";

.content {
  align-items: flex-end;
  display: flex;

  &:not(:last-child) {
    margin-bottom: $normalSpacing;
  }

  h2 {
    @include subtitle;

    font-weight: normal;
    line-height: $bigFontSize;
    margin: 0 0 0 $normalSpacing;
  }

  p {
    @include text;

    margin: 0 0 0 $smallSpacing;
  }

  h2,
  p {
    margin-bottom: 1px;
  }
}
