@import "$styles/_variables";

.menuContent {
  background-color: $dashboardBackgroundWhite;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  overflow-y: auto;
  width: 200px;
}

.typeFilter {
  margin-bottom: $spacing-l;
}

@media (max-width: $largeContainerThreshold) {
  .menuContent {
    width: unset;
  }
}
