@import "$styles/_variables";

.company {
  display: flex;
}

.companyDescription {
  align-self: center;
  display: inline;
  font-size: $fontSize-s;
  margin: $spacing-s;
}

.tooltip {
  display: none;
}

.companyIcon {
  margin: $spacing-s;
}

.menuContent {
  background-color: $dashboardBackgroundWhite;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  overflow-y: auto;
  width: 200px;
}

@media (max-width: $hdContainerThreshold) {
  .companyDescription {
    display: none;
  }

  .menuContent {
    width: unset;
  }

  .tooltip {
    display: unset;
  }
}
