@import "$styles/_variables";

.company {
  display: flex;
  justify-content: space-around;
}

.companyDescription {
  display: none;
}

.companyIcon {
  color: #d71508;
  margin: $smallSpacing;
}

.menuContent {
  align-items: center;
  background-color: $dashboardBackgroundWhite;
  display: flex;
  grid-area: "menu";
  grid-column: 1;
  grid-row: 1 / 3;
}

.menuContent:hover {
  width: 200px;

  .companyDescription {
    display: inline;
    font-size: $smallFontSize;
    margin: $smallSpacing;
  }
}
