@import "$styles/_variables";

.rightContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  max-width: 500px;
  padding: $spacing-xl;
}

.title {
  align-self: flex-start;
  margin-bottom: $spacing-xxl;
}

.applicantCard {
  margin-bottom: $spacing-l;
}

.companyCard,
.applicantCard {
  display: flex;
  width: 100%;
}

.rightWindowContainer {
  background-color: transparent;
}

@media (max-width: $laptopWidth) {
  .companyCard,
  .applicantCard {
    width: 100%;
  }
}
