@import "$styles/_variables";

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  align-self: flex-start;
  margin-bottom: $spacing-xxl;
}

.applicantCard {
  margin-bottom: $spacing-l;
}

.companyCard,
.applicantCard {
  min-width: 300px;
}

@media (max-width: $laptopWidth) {
  .companyCard,
  .applicantCard {
    width: unset;
  }

  .rightContainer {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
  }
}
