@import "$styles/_detailsVariables.scss";
@import "$components/Capabilities/styles/variables.scss";

.items {
  display: flex;
  flex-direction: column;
  width: $width;

  .item {
    width: $width;
    height: $height;
    font-size: $font-size;
    margin-bottom: $margin-bottom;
  }

  .title {
    width: 100%;
    height: $height;
    font-size: $font-size;
    font-weight: bold;
    margin-bottom: $margin-bottom;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .items {
    margin: 20px 0 0 0;
    column-count: 1;
    max-width: 430px;
  }
}