@import "$styles/_variables";

.formSection {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  visibility: visible;
}

.hidden {
  height: 0;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  visibility: hidden;
}

.fields {
  display: flex;
}

div.name,
div.careers,
div.applicantType, {
  width: 33%;
}

div.name,
div.careers, {
  margin-right: $spacing-m;
}
