@import "$styles/mixins/_card.scss";
@import "$styles/mixins/_title.scss";
@import "$styles/_variables.scss";
@import "$styles/_detailsVariables.scss";

.mainContainer {
  @include card;

  .title {
    @include title;
    margin-bottom: $normalSpacing;
  }

  .body {
    display: flex;
    flex-direction: column;

    .formContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: space-between;
      margin: 0;
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.careersTitleContainer {
  display: flex;
}

.textInputContainer {
  width: 70%;
}

div.textInput {
  margin-bottom: $bigSpacing;
}

@media (max-width: $mobileContainerThreshold) {
  .mainContainer .body .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .textInputContainer {
    width: 100%;
  }
}


