@import "$styles/mixins/_card.scss";
@import "$styles/mixins/_title.scss";
@import "$styles/_variables.scss";
@import "$styles/_detailsVariables.scss";

.mainContainer {
  @include card;

  .title {
    @include title;
    margin-bottom: $normalSpacing;
  }

  .body {
    display: flex;
    flex-direction: column;

    .formContainer {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: space-around;
      align-content: space-between;
      margin: 0;

      > * {
        margin-bottom: $bigSpacing;
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

@media (max-width: $mobileContainerThreshold) {
  .mainContainer {
    .body {
      .formContainer {
        width: 100%;
      }

      .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}


