@import "$styles/_variables.scss";

.plusSign {
  font-size: 28px;
  cursor: pointer;
  color: $mainBlue;
  padding: 0 $smallSpacing;
  margin-bottom: $smallSpacing;
  line-height: 35px;
  user-select: none;

  &:hover {
    color: $mainBlueLight;
  }

  &:active {
    color: $mainBlueDark;
  }
}
