@import "$styles/_variables";

.plusSign {
  color: $mainBlue;
  cursor: pointer;
  font-size: 28px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 0 $spacing-s;
  user-select: none;

  &:hover {
    color: $mainBlueLight;
  }

  &:active {
    color: $mainBlueDark;
  }
}
