@import "$styles/mixins/_tableList";

.item {
  @include headerItem;

  &.companyName {
    grid-area: companyName;
  }

  &.businessName {
    grid-area: businessName;
  }

  &.businessSector {
    grid-area: businessSector;
  }

  &.cuit {
    grid-area: cuit;
  }

  &.updatedAt {
    grid-area: updatedAt;
  }

  &.state {
    grid-area: state;
  }

  &.actions {
    grid-area: actions;
  }
}
