@import "$styles/_variables";

.mainContainer {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  padding: 100px 70px 70px;

  .body {
    display: flex;
    flex-direction: column;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;

  .textInput {
    margin-bottom: $spacing-l;
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .register {
    margin-top: $spacing-l;
  }

  .dontHaveAnAccount {
    margin-right: $spacing-s;
  }
}
