@import "$styles/_variables";
@import "$styles/mixins/_scrollOverlay";

.cardContainer {
  @include scrollOverlay;

  display: flex;
  flex-direction: column;
  min-width: $laptopWidth;
  padding: 0;
  width: 100%;
}
