@import "$styles/_variables";

.logoContainer {
  align-self: center;
  display: flex;
  height: 50px;
  padding: $spacing-m;
}

.logo {
  height: 100%;
}

@media (max-width: $tabletWidth) {
  .logoContainer {
    flex-shrink: 0;
    height: 35px;
    width: unset;
  }
}
