@import "$styles/_variables";

.userDetails {
  font-size: $fontSize-l;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $largeLaptopWidth) {
  .firstRow {
    flex-direction: column;
  }
}
