@import "$styles/_variables";

.firstRow,
.secondRow,
.thirdRow {
  display: flex;
  margin-bottom: $spacing-m;
}

div.name,
div.password,
div.email,
div.position {
  margin: 0 $spacing-xxl 0 0;
}

@media (max-width: $laptopWidth) {
  .firstRow,
  .secondRow,
  .thirdRow {
    flex-direction: column;
  }

  div.name,
  div.password,
  div.email,
  div.position {
    margin-bottom: $spacing-m;
  }
}
