@import "$styles/_variables";
@import "$styles/mixins/_lists";

.headerContainer {
  @include applicantListRows;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
  padding: $spacing-s;
}

.item {
  font-size: $fontSize-l;
  font-weight: 600;
  justify-self: center;

  &.padron {
    grid-area: padron;
  }

  &.names {
    grid-area: names;
  }

  &.dni {
    grid-area: dni;
  }

  &.studies {
    grid-area: padron;
  }

  &.state {
    grid-area: padron;
  }
}
