@import "$styles/_variables";
@import "$styles/mixins/_lists";

.headerContainer {
  @include applicantListRows;
  // display: flex;
  // justify-content: space-between;
  // display:grid;
}

.item {
  font-size: $fontSize-l;
  font-weight: 500;
  // align-self: center;
  justify-self: center;

  &.padron {
    grid-area: padron;
  }

  &.names {
    grid-area: names;
  }

  &.dni {
    grid-area: dni;
  }

  &.studies {
    grid-area: padron;
  }

  &.state {
    grid-area: padron;
  }
}
