@import "$styles/_variables";
@import "$styles/mixins/_lists";

.headerContainer {
  @include applicantListRows;

  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: $spacing-s;
  position: sticky;
  top: 0;
}

.item {
  font-size: $fontSize-l;
  font-weight: 600;
  justify-self: center;

  &.padron {
    grid-area: padron;
  }

  &.names {
    grid-area: names;
  }

  &.dni {
    grid-area: dni;
  }

  &.studies {
    grid-area: studies;
  }

  &.state {
    grid-area: state;
  }
}
