@import "$styles/_variables";
@import "$styles/mixins/_tableList";

.text {
  @include bodyItem;

  &.names {
    font-weight: $fontWeight-b;
  }
}

.careersContainer {
  @include bodyItem;
}

.careerText {
  font-weight: $fontWeight-r;
}

.statusContainer {
  align-self: center;
  justify-self: center;
}
