@import "$styles/_variables";

@mixin rowItem {
  align-self: center;
  font-size: $fontSize-m;
  font-weight: $fontWeight-r;
  justify-self: center;
}

.text {
  @include rowItem;

  &.names {
    font-weight: 600;
    text-align: center;
  }
}

.careersContainer {
  @include rowItem;
}

.careers {
  text-align: center;
}

.careerText {
  font-weight: $fontWeight-r;
}

.statusContainer {
  align-self: center;
  justify-self: center;
}
