@import "$styles/_variables";
@import "$styles/mixins/_tableList";

.text {
  @include bodyItem;
}

.careersContainer {
  @include bodyItem;
}

.careerText {
  font-weight: $fontWeight-r;
}

.statusContainer,
.seeDetailButtonContainer {
  @include bodyItem;

  align-self: center;
  justify-self: center;
}
