@import "$styles/_variables";

.form {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
}

.register {
  margin-bottom: $spacing-m;
  margin-top: $spacing-l;
}

.forgotYourPassword {
  margin-right: $spacing-xs;
}
