@import "$styles/_variables";

.container {
  align-items: center;
  background: $white;
  border: solid 1px $mainBlue;
  border-radius: 16px;
  color: $mainBlue;
  display: inline-flex;
  font-size: $fontSize-l;
  padding: 4px 2px;
}

.label {
  padding: 0 0 0 8px;
}

svg.icon {
  cursor: pointer;
  height: 19px;

  &:hover {
    color: lighten($mainBlue, 3%);
  }

  &:active {
    color: darken($mainBlue, 3%);
  }
}

.applied {
  background: $mainBlue;
  color: $white;

  svg.icon {
    &:hover {
      color: $lighterGrey;
    }

    &:active {
      color: $lightGrey;
    }
  }
}
