$detailContainerMaxWidth: 880px;
$detailContainerHorizontalPadding: 20px;
$mobileContainerThreshold: $detailContainerMaxWidth + 2 * $detailContainerHorizontalPadding;
$headerContainerPadding: 10px;
$background: linear-gradient(180deg, rgba(0, 135, 213, 0.2) 0, white 360px);
