$detailContainerMaxWidth: 880px;
$detailContainerHorizontalPadding: 20px;
$mobileContainerThreshold: $detailContainerMaxWidth + 2 * $detailContainerHorizontalPadding;
$headerContainerPadding: 10px;

$item-font-size: 14px;
$item-width: 100%;
$item-height: auto;
$item-margin-bottom: 5px;
