$monospace: SFMono-Regular,
Consolas,
'Liberation Mono',
Menlo,
Courier,
monospace;
$navBarHeight: 60px;
$pageMargin: 1.5vw;

$biggerSpacing: 35px;
$bigSpacing: 25px;
$normalSpacing: 15px;
$smallSpacing: 7px;

$defaultBorderRadius: 5px;

$mainBlueLight: #0fb3ff;
$mainBlue: #0095DB;
$mainBlueDark: #0073a8;
$red: #F44236;
$subtitleColor: #40403F;
