$monospace: sfmono-regular, consolas, "Liberation Mono", menlo, courier, monospace;

$desktopNavBarHeight: 78px;

$spacing-xxl: 30px;
$spacing-xl: 24px;
$spacing-l: 20px;
$spacing-m: 14px;
$spacing-s: 8px;
$spacing-xs: 4px;

$fontSize-xxl: 36px;
$fontSize-xl: 30px;
$fontSize-l: 20px;
$fontSize-m: 16px;
$fontSize-s: 14px;

$fontWeight-r: 400;
$fontWeight-b: 600;

$borderRadius-l: 12px;
$borderRadius-m: 8px;
$borderRadius-s: 4px;

$selectedColor: #dde6ee;
$mainBlueLight: #009ce5;
$mainBlue: #0288d1;
$mainBlueDark: #0073a8;
$red: #f44336;
$green: #34a853;
$darkYellow: #f9a806;
$black: #000;
$darkerGrey: #3b3b3b;
$darkGrey: #40403f;
$grey: #767676;
$lightGrey: #bcbbd0;
$lighterGrey: #f1f1f1;
$white: #fff;
$companyColor: #d71508;
$applicantColor: #605dca;
$offerColor: #f2b528;
$jobApplicationColor: #36bcb3;
$dashboardBackgroundWhite: #f6f5f5;
$bodyBackgroundColor: #ededed;
$infoMessageBackground: #fef3dc;

$detailContainerWidth: 900px;
$detailContainerHorizontalPadding: 20px;
$headerContainerPadding: 10px;

$largeLaptopWidth: 1440px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$largeMobileWidth: 425px;
$mobileWidth: 375px;
$smallMobileWidth: 320px;
