$monospace: SFMono-Regular,
Consolas,
'Liberation Mono',
Menlo,
Courier,
monospace;
$navBarHeight: 60px;
$pageMargin: 1.5vw;

$biggerSpacing: 35px;
$bigSpacing: 25px;
$normalSpacing: 15px;
$smallSpacing: 7px;

$itemMarginBottom: 7px;

$defaultBorderRadius: 5px;

$mainBlueLight: #0fb3ff;
$mainBlue: #0095DB;
$mainBlueDark: #0073a8;
$red: #f44336;
$darkGrey: #40403F;
$grey: #767676;
$lightGrey: #F1F1F1;

$detailContainerWidth: 880px;
$detailContainerHorizontalPadding: 20px;
$mobileContainerThreshold: $detailContainerWidth + 2 * $detailContainerHorizontalPadding;
$headerContainerPadding: 10px;
