@import "$styles/_variables.scss";
@import "$styles/_hoverShadow.scss";

html {
  font-size: 82.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  @include hoverShadow(rgba(0, 0, 0, 0.4));
}

code {
  font-family: $monospace;
}

.mainContent {
  margin-top: $navBarHeight;
  min-height: calc(100vh - #{$navBarHeight});
  display: flex;
  flex-direction: column;
}
