@import "$styles/_variables";

html {
  font-size: 82.5%;
}

body {
  background-color: $bodyBackgroundColor;
  color: $darkGrey;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: $fontSize-s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-y: overlay;
}

.applicationRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  outline: none !important;
}

button:disabled {
  cursor: default;
}

a {
  color: $mainBlue;
}

code {
  font-family: $monospace;
}

::-webkit-scrollbar {
  width: $spacing-s;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0 $borderRadius-s $borderRadius-s 0;
}

::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: $borderRadius-s;

  &:hover {
    background: darken($grey, 7%);
  }

  &:active {
    background: darken($grey, 14%);
  }
}
