@import "$styles/_variables";

.card {
  margin: $spacing-s $spacing-l;

  &:first-child {
    margin-top: $spacing-l;
  }

  &:last-child {
    margin-bottom: $spacing-l;
  }
}

.fetchMore {
  margin-bottom: $spacing-l;
  margin-top: 0;
}

.emptyListMessage {
  height: 100%;
}
