@import "$styles/_variables";

.card {
  margin: $spacing-s $spacing-l;

  &:first-child {
    margin-top: $spacing-l;
  }

  &:last-child {
    margin-bottom: $spacing-l;
  }
}

.fetchMore {
  padding-bottom: $spacing-l;
}
