@import "$styles/_variables";

.card {
  margin: $spacing-s $spacing-l;

  &:first-child {
    margin-top: $spacing-l;
  }
}

.fetchMore {
  margin-bottom: $spacing-l;
}

.emptyListMessage {
  height: 100%;
}
