@import "$styles/_variables";
@import "$styles/mixins/_tableList";

.row {
  @include tableRow;

  min-height: $spacing-xxl;

  &:nth-child(odd) {
    background-color: $lighterGrey;
  }

  &:hover {
    background-color: $selectedColor;
  }
}
