@import "$styles/_variables.scss";
@import "$styles/mixins/_title.scss";
@import "$styles/mixins/_subtitle.scss";

.title {
  @include title;

  color: #1A6288;
}

.subtitle {
  @include subtitle;

  margin-top: $smallSpacing;
}

.container {
  margin-bottom: $biggerSpacing;
}
