@import '$styles/_variables';
@import '$styles/mixins/_title';

.title {
  @include title;

  color: #1a6288;
  margin-bottom: $smallSpacing;
}

.container {
  margin-bottom: $biggerSpacing;
}

.noMargin {
  margin: 0;
}
