@import "$styles/_variables.scss";
@import "$styles/mixins/_title.scss";

.title {
  @include title;

  color: #1A6288;
  margin-bottom: $smallSpacing;
}

.container {
  margin-bottom: $biggerSpacing;
}

.noMargin {
  margin: 0;
}
