@import "$styles/mixins/_subtitle";
@import "$styles/mixins/_text";
@import "$styles/_variables";

.content {
  align-items: flex-end;
  display: flex;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: $spacing-m;
  }

  h2 {
    @include subtitle;

    font-weight: normal;
    line-height: $fontSize-l;
    margin: 0 0 0 $spacing-m;
  }

  p {
    @include text;

    margin: 0 0 0 $spacing-s;
  }

  h2,
  p {
    margin-bottom: 1px;
  }
}
