@import "$styles/_variables";

.childrenContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.remove {
  color: $darkGrey;
  font-size: 20px;
  line-height: 30px;
  margin-left: $bigSpacing;

  &:hover {
    color: $grey;
  }

  &:active {
    color: $black;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .childrenContainer {
    flex-direction: column;
  }
}
