@import "$styles/_variables.scss";

.childrenContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  :first-child {
    * > {
      flex-shrink: 0;
      width: 546px;
    }
  }

  :last-child {
    width: unset;
    flex-grow: 1;
  }
}

.remove {
  margin-left: $bigSpacing;
}

@media (max-width: $mobileContainerThreshold) {
  .childrenContainer {
    flex-direction: column;

    :first-child {
      margin: 0;
    }

    :last-child {
      width: 100%;
      margin-bottom: $normalSpacing;
    }
  }
}
