@import "$styles/_variables";

.childrenContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.fieldSetContainer {
  background: #f1f1f1;
  border-radius: $defaultBorderRadius;
  display: flex;
  padding: $spacing-m $spacing-l;

  &:not(:last-child) {
    margin-bottom: $spacing-l;
  }
}

.remove {
  color: $darkGrey;
  font-size: 20px;
  line-height: 30px;
  margin-left: $spacing-l;

  &:hover {
    color: $grey;
  }

  &:active {
    color: $black;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .childrenContainer {
    flex-direction: column;
  }

  .fieldSetContainer {
    $formSectionPadding: 20px;

    padding-left: $formSectionPadding;
    padding-right: $formSectionPadding;
  }
}
