@import "$styles/_variables";

.card {
  position: relative;
}

.isNew {
  background-color: #0288d1;
  border-bottom-left-radius: $borderRadius-s;
  border-top-right-radius: $borderRadius-l;
  color: $white;
  left: calc(100% - #{4 * $spacing-m});
  padding: $spacing-xs / 2 $spacing-s;
  position: absolute;
  top: 0;
}

.notification {
  display: flex;
  margin-top: $spacing-s;
}

.statusIcon {
  align-self: flex-start;
  margin-right: $spacing-l;
}

.info {
  flex-grow: 1;
}

.title {
  font-size: $fontSize-l;
  font-weight: bold;
  margin-bottom: $spacing-s;
  word-break: break-word;
}

.body {
  display: flex;
  margin-bottom: $spacing-s;
}

.separator {
  margin-left: $spacing-xs;
  margin-right: $spacing-xs;
}

.name {
  font-size: $fontSize-m;
  word-break: break-word;
}

@media (max-width: $laptopWidth) {
  .body {
    flex-direction: column;
  }

  .separator {
    display: none;
  }

  .offer {
    margin-top: $spacing-xs;
  }
}
