@import "$styles/_variables";

.firstRow,
.secondRow {
  display: flex;
}

div.name,
div.surname,
div.email,
div.padron {
  width: 100%;
}

div.name,
div.email {
  margin: 0 $spacing-xxl 0 0;
}

div.surname,
div.padron {
  margin: 0;
}

.firstRow {
  margin-bottom: $spacing-m;
}

div.emailWithoutMargin {
  margin: 0;
}

@media (max-width: $laptopWidth) {
  .firstRow,
  .secondRow {
    flex-direction: column;
  }

  div.surname,
  div.padron {
    margin-top: $spacing-m;
  }
}
