@import "$styles/_variables";
@import "$styles/mixins/_subtitle";

.card {
  padding-bottom: $spacing-m;
}

.title {
  @include subtitle;

  color: $darkerGrey;
  font-weight: unset;
  margin-bottom: $spacing-xl;
}

.firstRow,
.secondRow {
  display: flex;
}

div.name,
div.surname,
div.email,
div.padron {
  width: 100%;
}

div.name,
div.email {
  margin: 0 $spacing-xxl 0 0;
}

div.surname,
div.padron {
  margin: 0;
}

.firstRow {
  margin-bottom: $spacing-m;
}

@media (max-width: $mobileContainerThreshold) {
  .firstRow,
  .secondRow {
    flex-direction: column;
  }
}
