@import "$styles/_variables";
@import "$styles/mixins/_subtitle";

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: $spacing-xl;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.questionsEmail {
  font-size: $fontSize-s;
}

.questionsEmailContainer {
  margin-top: $spacing-m;
}

.creditsContainer {
  border-top: solid 1px $lightGrey;
  margin-top: $spacing-l;
  padding-top: $spacing-l;
}

.questionsTitle {
  color: $grey;
}

.questionsTitle,
.creditsTitle {
  margin-right: $spacing-xs;
}

.seeCredits {
  font-weight: bold;
}

.links {
  align-self: center;
  display: flex;
}

.switchLoginFormLink {
  :last-child {
    margin-top: $spacing-s;
  }
}

.separator {
  margin: 0 $spacing-s;
}

.body {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.title {
  @include subtitle;

  color: $grey;
  font-size: $fontSize-m;
  font-weight: unset;
  margin-bottom: $spacing-xxl;
}

.password {
  margin-top: $spacing-l;
}

.footer {
  display: flex;
  flex-direction: column;
}

.submitButton {
  margin-bottom: $spacing-xl;
  margin-top: $spacing-xs;
}

@media (max-width: $smallMobileWidth) {
  .separator {
    display: none;
  }

  .links {
    align-self: unset;
    flex-direction: column;

    :last-child {
      margin-top: $spacing-s;
    }
  }
}
