@import "$styles/_variables";
@import "$styles/mixins/_subtitle";

.mainContainer {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  padding: $spacing-xxl;

  .body {
    display: flex;
    flex-direction: column;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;

  .password {
    margin-bottom: $spacing-l;
    margin-top: $spacing-l;
  }
}

.title {
  @include subtitle;

  color: $grey;
  font-weight: unset;
  margin-bottom: $spacing-xxl;
}

.footer {
  display: flex;
  flex-direction: column;
}

@media (max-width: $laptopWidth) {
  .mainContainer {
    padding: $spacing-xl;
  }
}
