@import "$styles/mixins/_text";
@import "$styles/_variables";

.hideTooltip {
  display: none;
}

.tag {
  align-items: center;
  display: flex;
}

.rectangular {
  border-radius: $defaultBorderRadius;
  padding: 4px 10px;
  width: fit-content;
}

.circular {
  border-radius: $defaultBorderRadius;
  padding: 4px;
  width: fit-content;
}

.paddingCircularSmall {
  padding: 2px;
}

.icon {
  align-self: center;
}

.text {
  @include text;

  align-self: center;
  display: flex;
  font-style: normal;
  font-weight: normal;
  margin-right: 5px;
}

.iconContainer {
  display: flex;
}

.icon,
.text {
  color: $white;
}

.backgroundRed {
  background: $red;
}

.backgroundGreen {
  background: $green;
}

.backgroundDarkYellow {
  background: $darkYellow;
}

.transparent {
  background: transparent;
}

.colorRed {
  color: $red;
}

.colorGreen {
  color: $green;
}

.colorDarkYellow {
  color: $darkYellow;
}
