@import "$styles/mixins/_text";
@import "$styles/_variables";

.tag {
  border-bottom-left-radius: 5px;
  border-top-right-radius: $defaultBorderRadius;
  display: flex;
  margin-right: -1px;
  margin-top: -1px;
  padding: 4px 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
}

.text {
  @include text;

  align-self: center;
  display: flex;
  font-style: normal;
  font-weight: normal;
  margin-left: 5px;
}

.icon,
.text {
  color: $white;
}

.red {
  background: $red;
}

.green {
  background: $green;
}

.darkYellow {
  background: #f9a806;
}
