@import "$styles/mixins/_text";
@import "$styles/_variables";

.hideTooltip {
  display: none;
}

.tag {
  align-items: center;
  display: flex;
}

.rectangular {
  border-radius: $defaultBorderRadius;
  padding: 4px 10px;
  width: fit-content;
}

.circular {
  border-radius: $defaultBorderRadius;
  max-height: $spacing-m;
  max-width: $spacing-m;
  padding: 4px;
  width: fit-content;
}

.text {
  @include text;

  align-self: center;
  display: flex;
  font-style: normal;
  font-weight: normal;
  margin-right: 5px;
}

.icon,
.text {
  color: $white;
}

.iconContainer {
  display: flex;
  max-height: $spacing-m;
  max-width: $spacing-m;
}

.backgroundRed {
  background: $red;
}

.backgroundGreen {
  background: $green;
}

.backgroundDarkYellow {
  background: $darkYellow;
}

.transparentBackgroundRed {
  background: transparentize($red, 1);
}

.transparentBackgroundGreen {
  background: transparentize($green, 1);
}

.transparentBackgroundDarkYellow {
  background: transparentize($darkYellow, 1);
}

.withoutBackgroundRed {
  background: lighten($red, 100%);
}

.withoutBackgroundGreen {
  background: lighten($green, 100%);
}

.withoutBackgroundDarkYellow {
  background: lighten($darkYellow, 100%);
}

.colorRed {
  color: $red;
}

.colorGreen {
  color: $green;
}

.colorDarkYellow {
  color: $darkYellow;
}
