@import "$styles/_variables";

.header {
  display: flex;
  flex-direction: row;
  word-break: break-word;
}

.mainInfo {
  flex-grow: 1;
  margin-left: $bigSpacing;
}

.companySlogan {
  margin-top: $smallSpacing;
}

.photos {
  column-count: 2;
  column-gap: $bigSpacing;
  line-height: 0;
  margin: 0 auto;

  img {
    height: auto;
    padding: $bigSpacing 0 0 0;
    width: 100%;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .header {
    flex-direction: column;
  }

  .mainInfo {
    margin-left: 0;
  }

  .photos {
    column-count: 1;
  }
}
