@import "$styles/_mainDetailContainer.scss";

.header {
  display: flex;
  flex-direction: row;
  padding-bottom: 27px;
  word-break: break-word;
}

.logoContainer {
  $logoWidth: 140px;
  height: $logoWidth;
  width: $logoWidth;
  box-shadow: 0 0 5px rgba(0, 64, 109, 0.2);
  border-radius: 8px;
  background: white;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;

  .logo {
    max-width: $logoWidth;
    max-height: $logoWidth;
    margin: auto;
  }
}

.mainInfo {
  flex-grow: 1;
  margin-left: 36px;
  align-self: center;
}


.contactInfo {
  a {
    color: #0390BC;
    font-weight: normal;
  }
}

.photos {
  $imageGap: 20px;

  margin: 20px auto 0 auto;
  line-height: 0;
  column-count: 2;
  column-gap: $imageGap;

  img {
    width: 100%;
    height: auto;
    padding: $imageGap/2 0;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .header {
    flex-direction: column;
  }

  .logoContainer {
    align-self: center;
  }

  .mainInfo {
    margin-left: 0;
  }

  .profileContainer {
    padding: 50px 10vw 0 10vw;
  }

  .companyName {
    margin-top: 15px;
    text-align: center;
  }

  .contactInfo {
    a {
      display: block;
    }
  }

  .contactInfoDivider {
    display: none;
  }

  .photos {
    column-count: 1;
    max-width: 430px;
  }
}
