@import "$styles/_variables";

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $smallSpacing;
}

.link {
  display: flex;
  flex-direction: row;

  .divider {
    margin: auto $smallSpacing;
  }

  &:last-child {
    .divider {
      display: none;
    }
  }
}

@media (max-width: $mobileContainerThreshold) {
  .links {
    flex-direction: column;

    .link .divider {
      display: none;
    }
  }
}
