@import "$styles/_variables.scss";
@import "$styles/_detailsVariables.scss";


.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .link {
    display: flex;
    flex-direction: row;

    .divider {
      margin: auto;
      margin-right: $smallSpacing;
      margin-left: $smallSpacing;
    }

    &:last-child {
      .divider {
        display: none;
      }
    }
  }
}

@media (max-width: $mobileContainerThreshold) {
  .links {
    .link {
      margin-right: $smallSpacing;
      margin-left: $smallSpacing;

      .divider {
        display: none;
      }
    }
  }
}
