@import "$styles/_variables";
@import "$styles/mixins/_text";

.text {
  @include text;

  margin-top: $smallSpacing;
  white-space: pre-wrap;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: $bigSpacing;
}
