@import "$styles/_variables";

.mainContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$navBarHeight} - #{$spacing-xxl * 2});
  overflow-x: auto;
  overflow-y: hidden;
  padding: $spacing-xxl;
}
