@import "$styles/_variables";

@mixin rowItem {
  align-self: center;
  font-size: $fontSize-m;
  font-weight: $fontWeight-r;
  justify-self: center;
  text-align: center;
}

.text {
  @include rowItem;
}

.careersContainer {
  @include rowItem;

  display: flex;
  flex-direction: column;
}

.careers {
  @include rowItem;

  text-align: center;
}

.container {
  align-self: center;
  display: flex;
  justify-content: center;
}

.salary {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separatedStatusLabel {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.statusLabel {
  align-self: center;
  display: flex;
  justify-content: center;

  span {
    font-size: $fontSize-m;
    font-weight: $fontWeight-r;
  }
}
