@import "$styles/_variables";
@import "$styles/mixins/_tableList";

.text {
  @include bodyItem;
}

.careersContainer {
  @include bodyItem;

  display: flex;
  flex-direction: column;
}

.container {
  align-self: center;
  display: flex;
  justify-content: center;
}

.salary {
  @include bodyItem;
}

.separatedStatusLabel {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.statusLabel {
  align-self: center;
  display: flex;
  justify-content: center;

  span {
    font-size: $fontSize-m;
    font-weight: $fontWeight-r;
  }
}
