@import "$styles/_detailsVariables.scss";

.fieldEditable {
  width: 100%;
  white-space: pre-line;
  background: $background;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.fieldStatic {
  overflow: hidden;
}