@import "$styles/_detailsVariables.scss";

.fieldContainer {
  display: flex;
  flex-direction: row;
}

.fieldName {
  padding-right: 10px;
  font-weight: bold;
}

.fieldStatic, .fieldName {
  margin: 0 0 10px 0;
  font-size: 20px;
}