@import "$styles/mixins/_tableList";

.item {
  @include headerItem;

  &.companyName {
    grid-area: companyName;
  }

  &.offerTitle {
    grid-area: offerTitle;
  }

  &.applicantName {
    grid-area: applicantName;
  }

  &.approvalStatus {
    grid-area: approvalStatus;
  }

  &.updatedAt {
    grid-area: updatedAt;
  }

  &.actions {
    grid-area: actions;
  }
}
