@import "$styles/_variables";

.desktopOnlyOverlay {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

svg.icon {
  height: 45px;
  margin-bottom: $spacing-m;
  width: 100vw;
}

@media (max-width: $laptopWidth) {
  .desktopOnlyOverlay {
    background: $bodyBackgroundColor;
    display: flex;
  }
}
