@import "$styles/_variables";
@import "$styles/mixins/_text";

.mainContainer {
  background-color: $lightestGrey;
  border-radius: $borderRadius-l;
  display: flex;
  flex-direction: column;
  padding: $spacing-m;

  .careers,
  .hours,
  .salary {
    margin-bottom: $spacing-l;
  }
}
