@import "$styles/_variables";

.info {
  background-color: $dashboardBackgroundWhite;
  grid-area: "detailsInfo";
}

.content {
  background-color: $dashboardBackgroundWhite;
  display: flex;
  grid-area: "detailsContent";
}

.emptyContentDetail {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .selectToStartArrow {
    margin-bottom: $smallSpacing;
  }

  .description,
  .selectToStartArrow {
    align-self: center;
  }
}
