@import "$styles/_detailsVariables.scss";

.submitButton {
  background: $background;
  height: 30px;

  color: #004369;
  box-sizing: border-box;
  border: 2px solid #004369;
  border-radius: 6px;
}
