@import "$styles/_variables.scss";
@import "$styles/mixins/_card.scss";

.container {
  @include card;

  .headline, .firstContainerInfo {
    margin-bottom: 25px;
  }

  .headline {
    display: flex;
    flex-direction: column;
  }
}
