@import "$styles/_variables.scss";
@import "$styles/mixins/_card.scss";

.container {
  @include card;

  .headline, .firstContainerInfo, .sections {
    margin-bottom: 25px;
  }

  .headline {
    display: flex;
    flex-direction: column;
  }

  .capabilitiesAndCareersContainer {
    display: flex;
    flex-direction: row;

    .capabilities, .careers {
      width: 50%
    }

    .capabilities {
      margin-right: $bigSpacing;
    }
  }

  .sections {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .container {
    .capabilitiesAndCareersContainer {
      flex-direction: column;
    }
  }
}
