@import "$styles/_detailsVariables.scss";

.header {
  padding-bottom: 5px;
}

.fullNameContainer {
  display: flex;
  overflow: hidden;
}

.padronContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 2 * $headerContainerPadding;
  padding-bottom: $headerContainerPadding;

  .padronTitle {
    padding-right: 5px;
    font-size: 16px;
    font-weight: bold;
  }
}

.descriptionContainer {
  overflow: hidden;
  padding-bottom: $headerContainerPadding;
}

.info {
  display: flex;
  flex-direction: row;
}

@media (max-width: $mobileContainerThreshold) {
  .header {
    flex-direction: column;
  }

  .fullNameContainer {
    align-self: center;
  }

  .info {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}
