.careerSelector {
  display: flex;
  justify-content: flex-start;
}

.selectorContainer {
  width: 45rem;
  margin: 7rem 4rem 0 0;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}
