@import "$styles/_variables";
@import "$styles/mixins/_formSetMainColumn";

.fieldsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.firstRow {
  display: flex;
  flex-direction: row;
}

div.career {
  @include formSetMainColumn;

  margin-right: $spacing-xxl;
}

.isGraduate {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.secondRow {
  display: flex;
  flex-direction: row;
}

div.currentCareerYear {
  @include formSetMainColumn(0.5);

  margin-right: $spacing-xxl;
}

.approvedSubjectCount {
  width: unset;
}

@media (max-width: $mobileContainerThreshold) {
  .fieldsContainer {
    flex-direction: column;
  }

  .firstRow,
  .secondRow {
    flex-direction: column;
  }

  div.career,
  div.currentCareerYear {
    margin-bottom: $spacing-m;
    width: 100%;
  }
}
