@import "$styles/_variables.scss";

div.career {
  width: 546px;
  flex-shrink: 0;
}

div.credits {
  width: unset;
  flex-grow: 1;
  margin-left: $bigSpacing;
}

.fieldsContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.remove {
  margin-left: $bigSpacing;
}

@media (max-width: $mobileContainerThreshold) {
  .fieldsContainer {
    flex-direction: column;
  }

  div.credits {
    margin: 0;
  }

  div.career {
    width: 100%;
    margin-bottom: $normalSpacing;
  }
}
