@import "$styles/_variables";
@import "$styles/mixins/_card";
@import "$styles/mixins/_text";

.mainContainer {
  @include card;

  .header {
    display: flex;
    margin-bottom: $bigSpacing;

    .companyLogo {
      margin-right: $bigSpacing;
    }
  }

  .body {
    display: flex;
  }
}

.leftBodyContainer {
  margin-right: $bigSpacing;
  width: 70%;
}

.rightBodyContainer {
  width: 30%;
}

.rightHeader {
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
  }

  .title {
    flex-grow: 1;
    margin: 0 $bigSpacing $smallSpacing 0;
  }

  .companyName {
    margin-bottom: $normalSpacing;
  }

  .createdAt {
    @include text;
  }
}

.description {
  white-space: pre-wrap;
}

@media (max-width: $mobileContainerThreshold) {
  .mainContainer {
    @include card;

    .header {
      flex-direction: column;

      .companyLogo {
        margin: 0 0 $bigSpacing;
      }

      .rightHeader {
        flex-direction: column;
      }
    }

    .body {
      flex-direction: column;

      .leftBodyContainer,
      .rightBodyContainer {
        width: auto;
      }

      .rightBodyContainer {
        margin-bottom: $bigSpacing;
        order: 1;
      }

      .leftBodyContainer {
        order: 2;
      }
    }
  }
}

@media (max-width: $smallMobileContainerThreshold) {
  .titleContainer {
    flex-direction: column;
  }

  .title {
    margin: $bigSpacing 0 $smallSpacing 0;
  }
}
