@import "$styles/_variables";
@import "$styles/mixins/_card";
@import "$styles/mixins/_text";
@import "$styles/mixins/_customMedia";
@import "$styles/mixins/_customSmallMedia";

.mainContainer {
  @include card;
}

.header {
  display: flex;
  margin-bottom: $spacing-l;

  .companyLogo {
    margin-right: $spacing-l;
  }
}

.body {
  display: flex;
}

.leftBodyContainer {
  margin-right: $spacing-l;
  width: 67%;
}

.rightBodyContainer {
  width: 33%;
}

.rightHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .titleContainer {
    display: flex;
  }

  .title {
    flex-grow: 1;
    margin: 0 $spacing-l $spacing-s 0;
  }

  .companyName {
    margin-bottom: $spacing-m;
  }

  .updatedAt {
    @include text;

    margin-bottom: $spacing-m;
  }

  .approvalStatuses {
    flex-direction: row;
  }
}

.description {
  white-space: pre-wrap;
}

@include customMedia {
  .header {
    flex-direction: column;

    .companyLogo {
      margin: 0 0 $spacing-l;
    }

    .rightHeader {
      flex-direction: column;

      .approvalStatuses {
        flex-direction: column;
      }
    }
  }

  .body {
    flex-direction: column;

    .leftBodyContainer,
    .rightBodyContainer {
      width: auto;
    }

    .rightBodyContainer {
      margin-bottom: $spacing-l;
      order: 1;
    }

    .leftBodyContainer {
      order: 2;
    }
  }
}

@include customSmallMedia {
  .titleContainer {
    flex-direction: column;
    margin-bottom: $spacing-m;
  }

  .title {
    margin: $spacing-l 0 $spacing-s 0;
  }
}
