@import "$styles/_variables.scss";

.labelInput, .textInput {
  transition: all 0.2s;
  touch-action: manipulation;
}

.labelInput {
  color: $mainBlue;
  font-size: 1.5em;
  // width: 35rem;
  align-self: baseline;
}

.textInput:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

.textInput:placeholder-shown + .labelInput {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0;
  transition: inherit;
}

.textInput:focus::-webkit-input-placeholder {
  opacity: 1;
}

.textInput:not(:placeholder-shown) + .labelInput,
.textInput:focus + .labelInput {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.textInput {
  color: grey;
  font-size: x-large;
  border: 0.2rem;
  border-bottom: 1px solid $mainBlue;
  width: 35rem;
  align-self: center;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

.errorInput {
  color: red;
  font-size: small;
}

.inputContainer {
  margin-top: 3rem;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

.numberInput {
  color: grey;
  font-size: x-large;
  border: 0.2rem;
  border-bottom: 1px solid $mainBlue;
  width: 10rem;
  align-self: baseline;
  border-radius: 0;
  padding: 0;
  cursor: text;
  margin-top: 1rem;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
