@import "$styles/_variables.scss";

$labelHeight: 15px;
$labelFontSize: 13px;
$textInputFontSize: 22px;

.labelInput {
  font-size: $textInputFontSize;
  transform: translateY(17px);
  color: $grey;
  order: -1;
  transition: 0.3s cubic-bezier(0.32, 0.71, 0.1, 0.92);
  transition-property: font-size, transform;
  pointer-events: none;
}

.textInput {
  outline: none;
  background: none;
  border: none;
  border-bottom: solid 1px black;
  border-radius: 0;
  font-size: $textInputFontSize;
  padding: 2px 0;

  &:focus + .labelInput, & + .labelInput.withoutTransform {
    transform: none;
    font-size: $labelFontSize;
    color: black;
  }

  &::placeholder {
    color: $grey;
  }
}

.labelInput, .errorMessage {
  white-space: nowrap;
  text-overflow: ellipsis;
  height: $labelHeight;
}

.errorMessage {
  font-size: $labelFontSize;
  overflow: hidden;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: $labelHeight;

  &.error {
    padding-bottom: 0;

    .textInput {
      border-color: $red;

      &:focus + .labelInput, & + .labelInput.withoutTransform {
        color: $red;
      }
    }

    .errorMessage {
      color: $red;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
