@import "$styles/_variables.scss";

$labelHeight: 15px;

.textInput {
  outline: none;
  background: none;
  border: none;
  border-bottom: solid 1px black;
  font-size: 22px;
  padding: 2px 0;
}

.labelInput, .errorMessage {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: $labelHeight;
}

.labelInput {
  color: black;
}

.errorMessage {
  width: 0;
  color: $red;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: $labelHeight;

  &.error {
    padding-bottom: 0;

    .textInput {
      border-color: $red;
    }

    .errorMessage {
      width: initial;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
