@import "$styles/_variables";
@import "$styles/mixins/_customMedia";

.items {
  display: flex;
  flex-direction: column;
  margin: 0;

  .item {
    margin-top: $spacing-s;
  }
}

@include customMedia {
  &.items {
    column-count: 1;
    margin-top: 20px;
    max-width: 430px;
  }
}
