@import "$styles/_variables.scss";

.row {
  padding-bottom: $normalSpacing;
  margin-top: 0;

  .childrenContainer {
    .leftContainer {
      display: none;
    }

    .rightContainer {
      display: flex;
      flex-direction: row;

      .header {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .name {
          flex-grow: 1;
        }

        .companyLogo {
          margin-right: $normalSpacing;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;

        :last-child {
          margin-left: $normalSpacing;
        }

        :first-child {
          margin-left: $normalSpacing;
        }
      }
    }
  }
}


@media (max-width: $mobileContainerThreshold) {
  .row {
    .childrenContainer {
      display: flex;
      flex-direction: row;

      .leftContainer {
        display: flex;
        margin-right: $normalSpacing;
      }

      .rightContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .header {

          .name {
            margin: 0 0 $normalSpacing;
          }

          .companyLogo {
            display: none;
          }
        }

        .buttons {
          display: flex;
          align-self: flex-end;
        }
      }
    }
  }
}
