@import "$styles/_variables";

.title {
  flex-grow: 1;
}

.titleContainer {
  display: flex;
  margin-bottom: $spacing-l;
}

.filtersContainer {
  flex-basis: 30%;
  flex-shrink: 0;
  max-width: 650px;
}

.filters {
  margin: $spacing-xxl 4%;
}

.appliedFilters {
  margin-bottom: $spacing-l;
}

.desktopApplyFilters {
  border-top: solid 1px $lightGrey;
  padding-top: $spacing-xl;
}

.openMobileApplyFilters {
  display: none;
  margin-left: $spacing-s;
}

.mobileApplyFiltersHeader,
.mobileApplyFilters {
  padding: 0 $spacing-m;
}

.mobileApplyFilters {
  background: $dashboardBackgroundWhite;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: $spacing-m;
}

.mobileApplyFiltersHeader {
  align-items: center;
  background: $bodyBackgroundColor;
  display: flex;
  min-height: $navBarHeight;
  padding-right: $spacing-s;
}

.dialog {
  background: $dashboardBackgroundWhite;
}

@media (max-width: $mobileContainerThreshold) {
  .desktopApplyFilters {
    display: none;
  }

  .openMobileApplyFilters {
    display: initial;
  }
}
