@import "$styles/_variables";

.title {
  margin-bottom: $spacing-l;
}

.filtersContainer {
  flex-basis: 30%;
  flex-shrink: 0;
  max-width: 650px;
}

.filters {
  margin: $spacing-xxl 4%;
}

.appliedFilters {
  margin-bottom: $spacing-l;
}

.applyFilters {
  border-top: solid 1px $lightGrey;
  padding-top: $spacing-xl;
}
