@import "$styles/_variables";

.remove {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: auto;
  user-select: none;

  &:hover {
    color: $lightGrey;
  }

  &:active {
    color: $grey;
  }
}
