@import "$styles/_variables";

.card {
  display: flex;

  .leftContainer {
    display: flex;
    flex-grow: 1;
  }

  .separator {
    background: $lightGrey;
    border: 0;
    height: auto;
    margin: 0;
    width: 1px;
  }

  .applicantName,
  .separator {
    margin-right: $spacing-l;
  }

  .applicantName {
    width: 30%;
  }

  .applicantName,
  .offerTitle {
    align-self: center;
  }

  .offerTitle {
    width: 70%;
  }

  .updatedAt {
    align-self: flex-end;
    flex-shrink: 1;
    text-align: end;
    width: 100px;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .card {
    flex-direction: column;

    .leftContainer {
      flex-direction: column;
      margin-bottom: $spacing-s;
    }

    .offerTitle,
    .separator {
      margin-right: 0;
    }

    .separator {
      height: 1px;
      margin: $spacing-m 0;
      width: auto;
    }

    .applicantName {
      align-self: unset;
    }

    .applicantName,
    .offerTitle,
    .updatedAt {
      width: unset;
    }
  }
}
