@import "$styles/_variables";

.filterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.firstRow,
.secondRow {
  display: flex;
}

div.name,
div.careers,
div.status {
  margin-right: $spacing-m;
  width: 33%;
}

.formFooter {
  align-self: center;
}
