@import "$styles/_variables";

.row {
  display: flex;
}

div.rightField {
  margin-left: $spacing-xxl;
}

@media (max-width: $largeMobileWidth) {
  .row {
    flex-direction: column;
  }

  .isInternship {
    margin-bottom: $spacing-m;
  }
}
