@import "$styles/_variables";

.secondRow {
  display: flex;
}

div.minimumSalary {
  margin-right: $spacing-xxl;
}

@media (max-width: $largeMobileWidth) {
  .secondRow {
    flex-direction: column;
  }
}
