@import "$styles/_variables";
@import "$styles/mixins/_lists";
@import "$styles/mixins/_scrollOverlay";

.row {
  @include applicantListRows;

  min-height: $spacing-xxl;
  padding: $spacing-s;

  &:nth-child(odd) {
    background-color: $lighterGrey;
  }

  &:hover {
    background-color: $selectedColor;
  }
}

.rowsContainer {
  @include scrollOverlay;
}
