@import "$styles/_variables";

.adminTask {
  display: flex;
}

.statusIcon {
  margin-right: $spacing-m;
}

.info {
  flex-grow: 1;
}

.name {
  font-size: $fontSize-m;
  font-weight: bold;
  margin-bottom: $spacing-s / 2;
  white-space: pre-wrap;
}
