@import "$styles/_variables";

.adminTask {
  display: flex;
}

.info {
  flex-grow: 1;
}

.name {
  font-size: $fontSize-m;
  font-weight: bold;
  margin-bottom: $spacing-s / 2;
}

.icon {
  align-self: center;
  margin-right: $spacing-m;
}

.label {
  position: absolute;
  right: 0;
  top: 0;
}
