@import "$styles/_variables";

.rightContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: $spacing-xxl;
}

.applicantCard {
  margin-bottom: $spacing-xxl;
}

.companyCard,
.applicantCard {
  min-width: 300px;
}

@media (max-width: $laptopWidth) {
  .companyCard,
  .applicantCard {
    width: unset;
  }
}
