@import "$styles/_variables";

.card {
  align-items: center;
  background-color: $infoMessageBackground;
  color: $darkYellow;
  display: flex;
  margin-bottom: $spacing-xl;
}

.icon {
  margin-right: $spacing-s;
}
