@import "$styles/_variables";

.statusTitle {
  display: flex;
}

.mobileStatus {
  display: none;
}

.desktopStatus {
  align-self: flex-start;
  margin-top: 5px;
}

.title {
  margin-right: $spacing-s;
}

@media (max-width: $laptopWidth) {
  .desktopStatus {
    display: none;
  }

  .statusTitle {
    flex-direction: column;
  }

  .title {
    margin-bottom: $spacing-s;
    margin-right: 0;
  }

  .mobileStatus {
    display: flex;
    margin-bottom: $spacing-s;
  }
}
