@import "$styles/_variables";

.statusTitle {
  display: flex;
}

.mobileStatus {
  display: none;
}

.desktopStatus {
  align-self: center;
  margin-top: 5px;
}

.title {
  margin-right: $spacing-s;
}

@media (max-width: $mobileContainerThreshold) {
  .desktopStatus {
    display: none;
  }

  .mobileStatus {
    display: flex;
  }
}
