@import "$styles/_variables";

.statusTitle {
  display: flex;
}

.mobileStatus {
  display: none;
}

.status {
  align-self: center;
  transform: translateY(10%);
}

.title {
  margin-right: $spacing-s;
}

@media (max-width: $mobileContainerThreshold) {
  .status {
    display: none;
  }

  .mobileStatus {
    display: flex;
  }
}
