@import "$styles/_detailsVariables.scss";

.columnContainer {
  display: flex;
  flex-direction: column;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}

.separator, .rowContainer {
  flex-grow: 1;
}


@media (max-width: $mobileContainerThreshold) {
  .rowContainer {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}
