@import "$styles/_variables";

.acceptanceCriteria {
  background-color: #eaf3b6;
  border-radius: $borderRadius-m;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  height: fit-content;
  margin-left: $fontSize-xl;
  overflow-y: auto;
  padding: 16px;
  white-space: pre-wrap;
  width: fit-content;
  word-break: break-word;
}
