@import "$styles/_variables";
@import "$styles/mixins/_card";

.acceptanceCriteria {
  @include card(#eaf3b6);

  height: fit-content;
  margin-left: $fontSize-xxl;
  overflow-y: auto;
  padding: $spacing-m;
  white-space: pre-wrap;
  width: fit-content;
  word-break: break-word;
}
