@import "$styles/_variables";
@import "$styles/mixins/_title";

.title {
  @include title;

  color: #1a6288;
  margin-bottom: $spacing-s;
}

.container {
  margin-bottom: $spacing-xxl;
}

.noMargin {
  margin: 0;
}
