@import "$styles/_variables";

.titleBar {
  background: $mainBlue;
  display: flex;
  font-size: $fontSize-xxxl;
  position: relative;
  z-index: 5000;
}

.titleContainer {
  align-self: center;
  flex-grow: 1;
  min-width: 0;
}

.title,
.logoContainer {
  padding: $spacing-m;
}

.title {
  color: $white;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logoContainer {
  flex-shrink: 0;
  height: 50px;
}

.logo {
  height: 100%;
}

svg.icon {
  color: $white;
  font-size: 35px;
}

button.button {
  display: none;
  margin: 9px -6px 9px 4px;
}

button.button.alwaysShow {
  display: unset;
}

@media (max-width: $laptopWidth) {
  .titleBar {
    position: sticky;
    top: 0;
  }

  button.button {
    display: unset;
  }
}

@media (max-width: $tabletWidth) {
  .title {
    display: none;
    padding: 0;
  }

  button.button {
    display: unset;
    margin: 0;
  }

  .logoContainer {
    height: 35px;
  }
}
