@import "$styles/_variables";

.titleBar {
  background: $mainBlue;
  color: $white;
  display: flex;
  font-size: $fontSize-xxl;
}

.title,
.logo {
  padding: $spacing-m;
}

.title {
  align-self: center;
  flex-grow: 1;
}

.logo {
  flex-shrink: 0;
  height: 50px;
}
