@import "$styles/_variables.scss";

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: #006097;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-size: 18px;
  padding: 0 $pageMargin;
  z-index: 1;

  a, p {
    margin: 0 6px;
    display: inline-block;
    height: $navBarHeight;
    line-height: $navBarHeight;
  }

  .main :first-child {
    margin-left: 0;
  }

  .menu :last-child {
    margin-right: 0;
  }
}

.separator, .toggle, .menu {
  flex-grow: 1;
}

.toggle {
  display: none;
}

.main, .menu {
  display: inline-flex;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .navBar {
    flex-direction: column;
  }

  .toggle {
    display: inline-flex;
  }

  .main {
    padding: 0 $pageMargin;
    flex-grow: 1;
  }

  .main, .menu {
    width: 100%;
  }

  .menu {
    display: flex;
    flex-direction: column;

    > :not(.separator) {
      border-top: solid 1px #004369;
      flex-grow: 1;
      margin: 0;
    }

    .user {
      display: flex;
      flex-direction: row-reverse;

      :last-child {
        flex-grow: 1;
      }

      > * {
        margin: 0;
      }
    }
  }

  .menu:not(.showOnMobile) {
    display: none;
  }
}

.menuIcon {
  display: flex;
  height: $navBarHeight;
  width: $navBarHeight;

  :first-child:last-child {
    margin: auto 0 auto auto;
  }
}
