@import "$styles/_variables";

.navBarContainer {
  background: $dashboardBackgroundWhite;

  .navBar {
    font-size: 18px;
  }

  .navBarContainer,
  .navBar,
  .bottom {
    width: 285px;
  }

  .top {
    padding-top: 3vh;
  }

  .bottom {
    margin: $spacing-l 0 3vh 0;
  }

  .username {
    overflow: hidden;
    padding: 0 $spacing-l;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.inDrawer {
    height: 100%;

    .navBar {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }

    .top {
      flex-grow: 1;
    }
  }

  &:not(.inDrawer) {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$navBarHeight});

    .navBar {
      height: calc(100vh - 170px);
      overflow-y: auto;
      position: sticky;
      top: 0;
    }

    .navBar,
    .top,
    .bottom {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
    }

    .bottom {
      bottom: 0;
      left: 0;
      position: fixed;
    }

    @media (max-width: $largeLaptopWidth) {
      .username {
        display: none;
      }

      &,
      .navBar,
      .bottom {
        width: 66px;
      }
    }

    @media (max-width: $laptopWidth) {
      display: none;
    }
  }
}

svg.scrollIndicator {
  background: $dashboardBackgroundWhite;
  border-radius: 100%;
  bottom: 16px;
  color: $darkGrey;
  left: 250px;
  opacity: 1;
  position: fixed;
  transition: opacity 0.1s;

  &.hidden {
    opacity: 0;
  }
}
