@import "$styles/_variables";

.mainContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$navBarHeight} - #{$spacing-xxl * 2});
  margin: 0 ($spacing-xxl * 4);
  overflow: hidden;
  padding: $spacing-xxl $spacing-s;
}
