@import "$styles/_variables";

.hoursInfo {
  display: flex;

  .hoursPerDay {
    align-self: center;
    font-size: $fontSize-l;
    font-weight: bold;
    margin-right: 5px;
  }

  .hoursPerDayText {
    align-self: center;
    font-size: $fontSize-m;
  }
}
