@import "$styles/_variables.scss";

.mainContainer {
  padding: 100px 70px 70px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: $bigSpacing;
  }

  .body {
    display: flex;
    flex-direction: column;

    .formContainer {
      display: flex;
      flex-direction: column;

      .textInput {
        margin-bottom: $bigSpacing;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;

      .register {
        margin-top: $bigSpacing;
      }
    }
  }
}
