@import '$styles/_variables';

.mainContainer {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  padding: 100px 70px 70px;

  .title {
    margin-bottom: $bigSpacing;
  }

  .body {
    display: flex;
    flex-direction: column;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;

  .textInput {
    margin-bottom: $bigSpacing;
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .register {
    margin-top: $bigSpacing;
  }

  .dontHaveAnAccount {
    margin-right: $smallSpacing;
  }
}
