@import "$styles/_variables";

.register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 2 * $spacing-xxl 0;

  .companyCard,
  .applicantCard {
    cursor: pointer;
    display: flex;
    height: fit-content;
    max-width: 300px;
    min-height: 40px;
    padding: $spacing-l;
    width: 30%;
  }

  .companyCard {
    margin-left: $spacing-xxl;
  }
}

.cardLogo {
  align-self: center;
  color: $mainBlueDark;
  margin-right: $spacing-l;
}

.cardText {
  align-self: center;
  color: $mainBlueDark;
}

@media (max-width: $laptopWidth) {
  .body {
    align-items: center;
    flex-direction: column;

    .companyCard,
    .applicantCard {
      margin-left: $spacing-xxl;
      margin-right: $spacing-xxl;
      width: unset;
    }

    .companyCard {
      margin-top: $spacing-l;
    }
  }
}

@media (max-width: $smallMobileWidth) {
  .header {
    height: 100px;
  }

  .body {
    .companyCard,
    .applicantCard {
      flex-direction: column;
    }
  }

  .cardLogo {
    margin-bottom: $spacing-l;
    margin-right: 0;
  }

  .cardText {
    word-break: normal;
  }
}
