@import "$styles/_variables";

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: auto;
}

.loginMainContainer {
  display: flex;
  flex-grow: 1;
}

.mobileLogo {
  background-color: #0084d2;
  display: none;
  max-height: 200px;
}

.logo {
  background-color: #006fc6;
  background-image: url("./loginDesktop.svg");
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  flex-shrink: 0;
  width: 68%;
}

.rightContainer {
  background-color: #fcfcfc;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  max-height: 100vh;
  overflow-y: auto;
  width: 32%;
}

@media (max-width: $laptopWidth), (max-aspect-ratio: 16/9) {
  .mainContent {
    flex-direction: unset;
  }

  .loginMainContainer {
    flex-direction: column;
    width: 100%;
  }

  .logo {
    display: none;
  }

  .mobileLogo {
    display: flex;
    min-height: 0;
  }

  .rightContainer {
    max-height: unset;
    width: unset;
  }
}

@media (max-height: 600px) {
  .mobileLogo {
    display: none;
  }
}
