@import "$styles/_variables.scss";
@import "$styles/_detailsVariables.scss";

.subtitleContainer {
  :not(a) {
    color: $darkGrey;
  }
  font-weight: normal;
  font-size: 22px;
  margin-top: $smallSpacing;
  margin-bottom: $smallSpacing;
  word-break: break-word;
}
