@import "$styles/_variables";

.isNew {
  background-color: #0288d1;
  border-bottom-left-radius: $borderRadius-s;
  border-top-right-radius: $borderRadius-l;
  color: $white;
  left: calc(100% - #{4 * $spacing-m});
  padding: $spacing-xs / 2 $spacing-s;
  position: absolute;
  top: 0;
}
