@import "$styles/_variables";

.jobDescription {
  font-weight: bold;
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin: 0 0 0 $spacing-l;
}

.separator {
  background: $lightGrey;
  border: 0;
  height: 1px;
  margin: $spacing-m 0;
}

.detailsContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.internshipLabel {
  margin-top: $spacing-s;
}

.underCompanyName {
  align-self: center;
  margin: 0 0 $spacing-s 0;
}

.firstColumn,
.secondColumn {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.firstColumn {
  margin-right: $spacing-l;
}

.time {
  :not(.alignLeft) {
    margin-top: $spacing-s;
    text-align: center;
  }
}

.alignLeft {
  margin-top: $spacing-s;
  text-align: start;
}

.companyName {
  margin-bottom: $spacing-s;
}

.mobileTime {
  display: none;
}

.mobileLogo {
  display: none;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: $laptopWidth) {
  .headerContainer {
    flex-direction: row;
    margin-bottom: $spacing-m;
  }

  .subtitleContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: $spacing-m;
  }

  .detailsContainer {
    flex-direction: row;
    flex-grow: unset;
  }

  .firstColumn {
    display: flex;
    margin: 0;
  }

  .secondColumn {
    align-self: center;
    margin: 0;
  }

  .companyName {
    margin-bottom: 0;
    text-align: left;
  }

  .time,
  .alignLeft {
    display: none;
  }

  .mobileTime {
    display: flex;
  }

  .mobileLogo {
    align-self: unset;
    display: flex;
  }

  .container {
    margin: 0;
  }

  .separator {
    margin: $spacing-s 0;
  }

  .underCompanyName {
    margin-top: $spacing-s;
  }
}

@media (max-width: $tabletWidth) {
  .detailsContainer {
    flex-direction: column;
    justify-content: unset;
  }

  .reverseDetailsContainer {
    flex-direction: column-reverse;
  }

  .companyName {
    margin-bottom: $spacing-m;
  }

  .secondColumn {
    margin: 0;
  }

  .statusLabels {
    margin-top: $spacing-m;
  }

  .firstColumn,
  .secondColumn {
    align-self: unset;
    width: unset;
  }

  .underCompanyName {
    align-self: flex-start;
    margin-bottom: $spacing-m;
    margin-top: 0;
  }
}
