@import "$styles/_detailsVariables.scss";

.columnContainer {
  display: flex;
  flex-direction: column;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  overflow: hidden;
}

.footer :last-child {
  margin-right: 0;
}

.separator, .footer {
  flex-grow: 1;
}

.footer > .submitButton:last-child {
  margin-left: 10px;
}

.submitButton {
  background: $background;
  display:table-cell;
  height: 30px;
  width: 60px;

  color: #004369;
  box-sizing: border-box;
  border: 2px solid #004369;
  border-radius: 6px;
}