@import "$styles/_variables";

.firstRow {
  display: flex;
  margin-bottom: $spacing-m;
}

div.name {
  margin-right: $spacing-xxl;
}

@media (max-width: $largeMobileWidth) {
  .firstRow {
    flex-direction: column;
  }
}
