@import "$styles/_variables";

.companyName {
  color: $mainBlueDark;
  font-size: $fontSize-xl;
  margin-right: $spacing-l;
  margin-top: $spacing-s;
}

.header {
  align-items: center;
  display: block;
  margin: $spacing-l $spacing-xxl 0;
}

.main {
  align-items: baseline;
  display: flex;
}

.title {
  color: $black;
  font-size: $fontSize-l;
  margin-right: $spacing-m;
}
