@import "$styles/_variables";
@import "$styles/mixins/_scrollOverlay";

.info,
.contentContainer {
  background-color: $dashboardBackgroundWhite;
}

.contentContainer {
  display: flex;
  flex-shrink: 1;
  height: 100%;
  overflow: hidden;
}

.content {
  margin: $spacing-s $spacing-l $spacing-l;
}

.fullWidthContent {
  @include scrollOverlay;

  border: 0;
  width: 100%;
}

.taskDetail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
