@import "$styles/_variables";
@import "$styles/mixins/_subtitle";

.largePaddingBottom {
  padding-bottom: $spacing-l;
}

.mediumPaddingBottom {
  padding-bottom: $spacing-m;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerWithMarginBottom {
  margin-bottom: $spacing-xl;
}

.title {
  @include subtitle;

  color: $darkerGrey;
  font-weight: unset;
}

.titleWithMarginBottom {
  margin-bottom: $spacing-s;
}

.subtitle {
  color: $grey;
}
