@import "$styles/_variables";

.formSection {
  background: #f1f1f1;
  border-radius: $defaultBorderRadius;
  display: flex;
  padding: $spacing-m $spacing-l;

  &:not(:last-child) {
    margin-bottom: $spacing-l;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .formSection {
    $formSectionPadding: 20px;

    padding-left: $formSectionPadding;
    padding-right: $formSectionPadding;
  }
}
