@import "$styles/_variables.scss";

.formSection {
  display: flex;
  padding: $normalSpacing $bigSpacing;
  margin-top: $normalSpacing;
  background: #F1F1F1;
  border-radius: $defaultBorderRadius;

  &:last-child {
    margin-bottom: $bigSpacing;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .formSection {
    $formSectionPadding: 20px;

    margin-left: -$formSectionPadding;
    margin-right: -$formSectionPadding;
    padding-left: $formSectionPadding;
    padding-right: $formSectionPadding;
  }
}
