@import "$styles/_variables";
@import "$styles/mixins/_card";
@import "$styles/mixins/_title";
@import "$styles/mixins/_formSetMainColumn";

.mainContainer {
  @include card;

  display: flex;
  flex-direction: column;

  .title {
    @include title;
  }

  .body {
    display: flex;
    flex-direction: column;
  }
}

.footer {
  align-self: flex-end;
  display: flex;
  min-height: 51px;
}

.formError {
  color: $red;
  margin: auto $normalSpacing auto auto;
}

.formErrorsContainer {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.fullName {
  display: flex;

  .name {
    margin-right: $bigSpacing;
  }

  .name,
  .surname {
    width: 50%;
  }
}

.capabilities {
  margin-bottom: $bigSpacing;
}

.fullName,
.capabilities {
  width: 70%;
}

.row {
  margin-top: $normalSpacing;
}

.section,
.link {
  @include formSetMainColumn;
}

.submit {
  align-items: center;
  display: flex;
}

@media (max-width: $mobileContainerThreshold) {
  .fullName,
  .capabilities,
  .section,
  .link {
    width: 100%;
  }

  .mainContainer {
    .body {
      .linkTitle {
        margin: 0;
      }
    }
  }
}
