@import "$styles/_variables.scss";
@import "$styles/mixins/_card.scss";
@import "$styles/mixins/_title.scss";

.mainContainer {
  @include card;

  display: flex;
  flex-direction: column;

  .title {
    @include title;
  }

  .body {
    display: flex;
    flex-direction: column;

    .linkTitle {
      margin-left: $bigSpacing;
    }
  }
}

.footer {
  display: flex;
  align-self: flex-end;
}

.fullName {
  display: flex;

  .name {
    margin-right: $bigSpacing;
  }

  .name, .surname {
    width: 50%;
  }
}

.section {
  margin-top: $normalSpacing;
}

@media (max-width: $mobileContainerThreshold) {
  .mainContainer {

    .body {
      .linkTitle {
        margin: 0;
      }
    }
  }
}
