@import "$styles/_variables";

.titleContainer {
  display: flex;
}

.title {
  flex-grow: 1;
  margin-right: $spacing-m;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.checkboxIcon {
  background-color: transparentize($black, 1);
  color: #0000008a;
  padding: 0;
}

.checkbox {
  align-self: center;
}

.checkboxDescription {
  align-self: center;
  font-size: $fixedFontSize-s;
}
