@import "$styles/_variables";

.titleContainer {
  display: flex;
}

.title {
  flex-grow: 1;
  margin-right: $spacing-m;
}

@media (max-width: $tabletWidth) {
  .titleContainer {
    flex-direction: column;
  }

  .title {
    margin-bottom: $spacing-m;
    margin-right: 0;
  }
}
