@import "$styles/_variables";

.header {
  align-items: center;
  color: $darkerGrey;
  display: block;
  margin: $spacing-xl $spacing-l 0;
}

.main {
  align-items: baseline;
  display: flex;
}

.title {
  color: $darkerGrey;
  font-size: $fontSize-xxl;
  margin-right: $spacing-m;
}
