@import "$styles/_variables";

div.businessName {
  margin-right: $spacing-xxl;
}

.lastRow {
  display: flex;
}

.hasAnInternshipAgreement {
  margin-bottom: $spacing-s;
}

@media (max-width: $laptopWidth) {
  .lastRow {
    flex-direction: column;
  }
}
