@import "$styles/_variables";

.item {
  align-self: center;
  font-size: $fontSize-l;
  font-weight: 600;
  justify-self: center;
  text-align: center;

  &.companyName {
    grid-area: companyName;
  }

  &.title {
    grid-area: title;
  }

  &.targetApplicantType {
    grid-area: targetApplicantType;
  }

  &.hoursPerDay {
    grid-area: hoursPerDay;
  }

  &.salary {
    grid-area: salary;
  }

  &.careers {
    grid-area: careers;
  }

  &.approvalStatus {
    grid-area: approvalStatus;
  }

  &.updatedAt {
    grid-area: updatedAt;
  }
}
