@import "$styles/mixins/_tableList";

.item {
  @include headerItem;

  &.companyName {
    grid-area: companyName;
  }

  &.title {
    grid-area: title;
  }

  &.targetApplicantType {
    grid-area: targetApplicantType;
  }

  &.hoursPerDay {
    grid-area: hoursPerDay;
    padding-left: 0;
    padding-right: 0;
  }

  &.salary {
    grid-area: salary;
  }

  &.careers {
    grid-area: careers;
  }

  &.approvalStatus {
    grid-area: approvalStatus;
  }

  &.updatedAt {
    grid-area: updatedAt;
  }

  &.actions {
    grid-area: actions;
  }
}
