@import "$styles/_variables";

.hidden {
  display: none;
}

.mainBody {
  display: flex;
  flex-grow: 1;
}

.mainContentContainer {
  width: 100%;
}

.desktopNavBar.navBar.alwaysHide {
  display: none;
}

@media (max-width: $laptopWidth) {
  .desktopOnly,
  .navBar.desktopNavBar {
    display: none;
  }
}
