@import "$styles/_variables";

.mainBody {
  display: flex;
}

.mainContentContainer {
  overflow-x: auto;
  width: 100%;
}

@media (max-width: $laptopWidth) {
  .desktopOnly {
    display: none;
  }
}
