@import "$styles/_variables";

.mainBody {
  display: flex;
  flex-grow: 1;
}

.mainContentContainer {
  overflow-x: auto;
  width: 100%;
}

.alwaysHide {
  display: none;
}

@media (max-width: $laptopWidth) {
  .desktopOnly,
  .desktopNavBar {
    display: none;
  }
}
