@import "$styles/_variables.scss";
@import "$styles/mixins/_text.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: $lightGrey;
  padding: $normalSpacing;
  border-radius: $defaultBorderRadius;

  :nth-child {
    margin-bottom: $bigSpacing;
  }

  .careers, .hours, .salary {
    margin-bottom: $bigSpacing;
    display: flex;
    flex-direction: column;
  }

  .careers .careersTitle, .hours .hoursTitle, .salary .salaryTitle {
    @include text;
    font-weight: bold;
    margin-bottom: $smallSpacing;
  }

  .hours .hoursInfo .hoursNumber, .salary .minimumSalary .salaryNumber, .salary .maximumSalary .salaryNumber {
    font-weight: bold;
    font-size: 22px;
  }

  .careers .career {
    font-size: 18px;
  }

  .hours .hoursInfo {
    display: flex;

    .hoursNumber {
      margin-right: 5px;
      align-self: center;
    }

    .hoursPerDayText {
      font-size: 18px;
      align-self: center;
    }
  }

  .salary {
    display: flex;
    .minimumSalary, .maximumSalary {
      display: flex;

      .salaryFrom, .salaryTo {
        font-size: 18px;
        margin-right: 5px;
        align-self: center;
      }
    }
  }
}