@import "$styles/_variables.scss";
@import "$styles/mixins/_text.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: $lightGrey;
  padding: $normalSpacing;
  border-radius: $defaultBorderRadius;

  :nth-child {
    margin-bottom: $bigSpacing;
  }

  .careers, .hours {
    margin-bottom: $bigSpacing;
  }

  .hours .hoursInfo .hoursNumber {
    font-weight: bold;
    font-size: 22px;
  }

  .hours .hoursInfo {
    display: flex;

    .hoursNumber {
      margin-right: 5px;
      align-self: center;
    }

    .hoursPerDayText {
      font-size: 18px;
      align-self: center;
    }
  }
}