@import "$styles/_variables";
@import "$styles/mixins/_formSectionTitle";

.firstRow,
.secondRow {
  display: flex;
}

div.name,
div.password {
  margin: 0 $spacing-xxl 0 0;
}

.firstRow {
  margin-bottom: $spacing-m;
}

@media (max-width: $mobileContainerThreshold) {
  .firstRow,
  .secondRow {
    flex-direction: column;
  }
}
