@import "$styles/_variables.scss";
@import "$styles/mixins/_text.scss";

.text {
  @include text;

  word-break: break-word;
  margin-top: $smallSpacing;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: $bigSpacing;
}
