@import "$styles/_variables";
@import "$styles/mixins/_logoSize";

.inputContainer {
  cursor: pointer;
  display: block;
  position: relative;
}

.inputContainer,
.overlay {
  @include size($extraLarge, $extraLarge);
}

.overlay,
.uploadIcon {
  pointer-events: none;
}

.formHelperText {
  white-space: pre-wrap;
}

.uploadIcon {
  color: $white;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  user-select: none;
  z-index: 1;
}

.inputContainer:hover {
  .overlay {
    opacity: 1;
  }
}
