@import "$styles/_variables";
@import "$styles/mixins/_logoSize";

.inputContainer {
  display: block;
  position: relative;
}

.inputContainer,
.overlay {
  @include size($extraLarge, $extraLarge);
}

.uploadLogo {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.logo {
  position: absolute;
}

.overlay {
  display: none;
  position: absolute;
}

.visibility {
  color: $grey;
  display: block;
  visibility: visible;
  z-index: 1;
}

.inputContainer:hover {
  .overlay {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: block;
    user-select: none;
    z-index: 1;
  }

  .uploadLogo {
    color: $selectedColor;
    visibility: visible;
  }
}
