@import "$styles/_variables";
@import "$styles/mixins/_tableList";

.headerContainer {
  @include tableRow;

  background-color: $white;
  box-shadow: 0 0 $spacing-s rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
}
