@import "$styles/_variables.scss";
@import "$styles/mixins/_text.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: $lighterGrey;
  padding: $normalSpacing;
  border-radius: $defaultBorderRadius;

  .careers, .hours {
    margin-bottom: $bigSpacing;
  }
}
