@import "$styles/_variables";
@import "$styles/mixins/_text";

.mainContainer {
  background-color: $lighterGrey;
  border-radius: $defaultBorderRadius;
  display: flex;
  flex-direction: column;
  padding: $normalSpacing;

  .careers,
  .hours {
    margin-bottom: $bigSpacing;
  }
}
