@import "$styles/_variables";

.actionsContainer {
  display: flex;
  flex-direction: column;
}

.edit {
  margin-bottom: $spacing-s;
}

.edit,
.editCriticalAttributesLink {
  text-align: center;
  width: unset;
}

.separator {
  flex-grow: 1;
}

@media (max-width: $laptopWidth) {
  .actionsContainer {
    flex-direction: row;
  }

  .edit {
    margin: 0 $spacing-s 0 0;
  }

  .edit,
  .editCriticalAttributesLink {
    width: 50%;
  }
}
