@import "$styles/_variables";
@import "$styles/mixins/_title";
@import "$styles/mixins/_customMedia";

.detailHeadline {
  @include title;
}

.dark {
  color: #1a6288;
}

.light {
  color: $mainBlue;
}

@include customMedia {
  .detailHeadline {
    word-break: break-word;
  }
}
