@import "$styles/_variables";
@import "$styles/mixins/_title";

.detailHeadline {
  @include title;
}

.dark {
  color: #1a6288;
}

.light {
  color: $mainBlue;
}

@media (max-width: $mobileContainerThreshold) {
  .detailHeadline {
    margin-top: $spacing-l;
    word-break: break-word;
  }
}
