@import "$styles/_variables.scss";
@import "$styles/mixins/_title.scss";

.detailHeadline {
  @include title;
}

.dark {
  color: #1A6288;
}

.light {
  color: $mainBlue;
}

@media (max-width: $mobileContainerThreshold) {
  .detailHeadline {
    word-break: break-word;
  }
}

