@import "$styles/_variables.scss";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4 * $biggerSpacing;
  padding-right: $biggerSpacing;
  padding-left: $biggerSpacing;

  .imgSrc {
    width: 200px;
    margin-bottom: $biggerSpacing;
    margin-top: $biggerSpacing;
  }
}
