@import '$styles/_variables';

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: $biggerSpacing;
  padding-right: $biggerSpacing;
  padding-top: 4 * $biggerSpacing;

  .imgSrc {
    height: 300px;
    margin-bottom: $biggerSpacing;
    margin-top: $biggerSpacing;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .error .imgSrc {
    max-width: 90vw;
  }
}
