@import "$styles/_variables.scss";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2 * $biggerSpacing;

  .imgSrc {
    margin-bottom: $biggerSpacing;
    width: 500px;
    padding-top: $normalSpacing;
    padding-bottom: $bigSpacing;
  }
}
