@import '$styles/_variables';

.hoursInfo {
  display: flex;

  .hoursPerDay {
    align-self: center;
    font-size: $bigFontSize;
    font-weight: bold;
    margin-right: 5px;
  }

  .hoursPerDayText {
    align-self: center;
    font-size: $normalFontSize;
  }
}
