@import "$styles/_variables.scss";

.hoursInfo {
  display: flex;
  .hoursPerDay {
    font-weight: bold;
    font-size: $bigFontSize;
    margin-right: 5px;
    align-self: center;
  }

  .hoursPerDayText {
    font-size: $normalFontSize;
    align-self: center;
  }
}
