@import "$styles/Details/_detailsVariables.scss";

.contactInfo {
  a {
    color: #0390BC;
    font-weight: normal;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .contactInfo {
    a {
      display: block;
    }
  }

  .contactInfoDivider {
    display: none;
  }
}