@import "$styles/_variables";

$separator: 7px;

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -$separator;
  margin-top: $separator;

  .item {
    margin-bottom: $separator;
    margin-right: $separator;
  }
}
