.salary {
  .SalaryInfo {
    display: flex;

    .salaryInfoText {
      font-size: 18px;
      margin-right: 5px;
      align-self: center;
    }

    .salaryNumber {
      font-weight: bold;
      font-size: 22px;
    }
  }
}
