@import "$styles/_variables";
@import "$styles/mixins/_scrollOverlay";

.fetchMore {
  align-self: center;
  display: flex;
  margin: $spacing-s auto;
}

.listContent {
  @include scrollOverlay;

  background-color: mix($lighterGrey, $white, 30%);
}
