@import "$styles/_variables";
@import "$styles/mixins/_lists";

.row {
  @include applicantListRows;

  padding: $spacing-s;

  &.grey {
    background-color: $lighterGrey;
  }
  &:hover {
    background-color: $selectedColor;
  }
}

@mixin rowItem {
  align-self: center;
  font-size: $fontSize-l;
  font-weight: 400;
  justify-self: center;
}

.text {
  @include rowItem;

  &.names {
    font-weight: 600;
  }
}

.careersContainer {
  @include rowItem;
}

.careers {
  b {
    font-weight: 400;
  }

  span b {
    font-weight: 400;
  }
}

.statusContainer {
  align-self: center;
  justify-self: center;
}
