@import "$styles/mixins/_subtitle.scss";
@import "$styles/_variables.scss";
@import "$styles/_detailsVariables.scss";

.row {
  padding-bottom: $normalSpacing;
  margin-top: 0;

  .childrenContainer {
    display: flex;
    flex-direction: row;

    .name {
      @include subtitle;
      margin: 0;
      flex-grow: 1;
    }

    .buttons {
      flex-shrink: 0;
    }

    .buttons :last-child{
      margin-left: $normalSpacing;
    }
  }
}

@media (max-width: $mobileContainerThreshold) {
  .row {
    .childrenContainer {
      flex-direction: column;
    }

    .buttons {
      display: flex;
      align-self: flex-end;
    }
  }
}
