@import "$styles/_variables";

.row {
  margin-top: 0;
  padding-bottom: $spacing-m;

  .childrenContainer {
    display: flex;
    flex-direction: row;

    .name {
      align-self: center;
      flex-grow: 1;
    }
  }
}

@media (max-width: $laptopWidth) {
  .row {
    .childrenContainer {
      flex-direction: column;

      .name {
        align-self: unset;
        margin: 0 0 $spacing-m;
      }
    }
  }
}
