@import "$styles/_variables";

.mainContent {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
    "menu listInfo detailsInfo "
    "menu listContent detailsContent ";
  grid-template-columns: 1fr 8fr 16fr;
  grid-template-rows: 1fr 3fr;
  height: calc(100vh - #{$navBarHeight});
  justify-items: stretch;
}
