@import "$styles/_variables";

.userDetails {
  font-size: $fontSize-l;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.cuit {
  align-items: center;
  display: flex;

  span {
    margin-left: $spacing-s;
  }
}
