@import "$styles/_variables";

.emptyDetail {
  align-items: center;
  background-color: $dashboardBackgroundWhite;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .selectToStartArrow {
    margin-bottom: $smallSpacing;
  }
}
