@import "$styles/_detailsVariables.scss";


$headerContainerPaddingLeft: 10px;

.header {
  padding-bottom: 5px;
}

.fullNameContainer {
  overflow: hidden;
  padding-left: $headerContainerPaddingLeft;
}

.padronContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 2 * $headerContainerPadding;
  padding-bottom: $headerContainerPadding;
  padding-left: $headerContainerPaddingLeft;

  .padronTitle {
    padding-right: 5px;
    font-size: 16px;
    font-weight: bold;
  }
}

.info {
  display: flex;
  flex-direction: row;
}

.descriptionContainer {
  overflow: hidden;
  padding-bottom: $headerContainerPadding;
  padding-left: $headerContainerPaddingLeft;
}

.capabilities {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  line-height: 0;

  .capability {
    width: 100%;
    height: auto;
    padding: 10px 10px;
  }

  .capabilityTitle {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }
}

.careers {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  line-height: 0;

  .career {
    width: 100%;
    height: auto;
    padding: 10px 10px;
  }

  .careerTitle {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .header {
    flex-direction: column;
  }

  .fullNameContainer {
    align-self: center;
  }

  .mainInfo {
    margin-left: 0;
  }

  .capabilities {
    column-count: 1;
    max-width: 430px;
  }

  .careers {
    column-count: 1;
    max-width: 430px;
  }
}
