@import "$styles/_variables";
@import "$styles/mixins/_customMedia";
@import "$styles/mixins/_mobileClass";

.link {
  margin-top: $spacing-s;
}

.firstContainerInfo {
  margin-bottom: 25px;
}

.sectionTitle {
  font-size: $fontSize-xl;
}

.sectionContainer {
  margin-top: $spacing-xxl;
}

.sectionDetail {
  margin-top: $spacing-m;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  margin-bottom: $spacing-s;
}

.title {
  margin: 0 $spacing-l 0 0;
}

.capabilitiesAndCareersContainer {
  display: flex;
  flex-direction: row;

  .capabilities,
  .careers {
    width: 50%;
  }

  .capabilities {
    margin-right: $spacing-l;
  }
}

@include customMedia {
  .capabilitiesAndCareersContainer {
    flex-direction: column;

    .capabilities,
    .careers {
      width: 100%;
    }

    .capabilities {
      margin-right: 0;
    }
  }
}

@include mobileClass {
  .headline {
    margin-bottom: $spacing-m;
  }

  .header {
    flex-direction: column;
  }

  .title {
    margin-bottom: $spacing-m;
  }

  .applicantName {
    margin: $spacing-l 0 0 0;
  }
}
