@import "$styles/_variables";

.cardContainer {
  margin: 0 auto;
  padding: $bigSpacing;
  width: 70%;

  &:not(:last-child) {
    margin-bottom: $bigSpacing;
  }
}

.title {
  margin-bottom: $biggerSpacing;
}

@media (max-width: $mobileContainerThreshold) {
  .cardContainer {
    margin: 0;
    padding: $normalSpacing;
    width: unset;
  }
}
