@import "$styles/_variables.scss";

.cardContainer {
  width: 70%;
  margin: 0 auto;
  padding: $bigSpacing;
  &:not(:last-child) {
    margin-bottom: $bigSpacing;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .cardContainer {
    width: unset;
    margin: 0;
    padding: $normalSpacing;
  }
}
