@import "$styles/_variables";

@mixin backgroundColor($color) {
  background-color: lighten($color, 60%);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  &.selected {
    background-color: lighten($color, 30%);
  }

  &:hover {
    background-color: lighten($color, 35%);
  }
}

.red {
  @include backgroundColor($companyColor);
}

.blue {
  @include backgroundColor($applicantPurple);
}

.description {
  align-self: center;
  display: inline;
  font-size: $fontSize-s;
  margin: $spacing-s;
}

.tooltip {
  display: none;
}

.checkbox {
  align-self: center;
}

.icon,
.checkbox {
  margin: $spacing-s;
}

@media (max-width: $hdContainerThreshold) {
  .description {
    display: none;
  }

  .tooltip {
    display: unset;
  }
}
