@import "$styles/_variables";

@mixin containerStyles($color, $transparencyFactor) {
  background-color: transparentize($color, 1);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-right: $spacing-m;

  &:hover {
    background-color: transparentize($color, 1 - 0.05 / $transparencyFactor);
  }

  &.selected {
    background-color: transparentize($color, 1 - 0.15 / $transparencyFactor);
  }

  &:active {
    background-color: transparentize($color, 1 - 0.1 / $transparencyFactor);
  }
}

.container {
  &.red {
    @include containerStyles($companyColor, 1);
  }

  &.blue {
    @include containerStyles($applicantColor, 1);
  }

  &.yellow {
    @include containerStyles($offerColor, 1);
  }

  &.grey {
    @include containerStyles($black, 1.75);
  }
}

.checkboxIcon {
  padding: 0;

  &.grey {
    color: $mainBlueDark;
  }
}

.description {
  align-self: center;
  display: inline;
  font-size: $fontSize-s;
  margin: $spacing-s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.grey {
    color: transparentize($black, 0.25);
  }
}

.description,
.checkboxIcon {
  &.red {
    color: $companyColor;
  }

  &.blue {
    color: $applicantColor;
  }

  &.yellow {
    color: $offerColor;
  }
}

.tooltip {
  display: none;
}

.description,
.tooltip {
  user-select: none;
}

.checkbox {
  align-self: center;
}

.icon,
.checkbox {
  margin: $spacing-s 0;
}

@media (max-width: $hdContainerThreshold) {
  .description {
    display: none;
  }

  .tooltip {
    display: unset;
  }
}
