@import "$styles/_variables";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.formError {
  align-self: flex-end;
  color: $red;
  margin: auto $spacing-m auto auto;
}

@media (max-width: $mobileContainerThreshold) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
