@import "$styles/_variables";

.taskHeaderInfo {
  align-items: center;
  display: flex;
  font-size: $fontSize-l;
  margin-right: $spacing-m;
}

.label {
  color: $darkerGrey;
}

.infoText {
  margin-left: $spacing-s;
}

.withoutMargin {
  margin: 0;
}
