@import "$styles/_variables";

.taskHeaderInfo {
  align-items: center;
  display: inline-block;
  font-size: $fontSize-l;
  margin-right: $spacing-m;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label,
.iconLabel {
  color: $darkerGrey;
}

.iconLabel {
  margin-right: $spacing-xs;
  vertical-align: bottom;
}

.infoText {
  margin-left: $spacing-s;
}

.withoutMargin {
  margin: 0;
}
