@import "$styles/_variables";
@import "$styles/mixins/_customMedia";

@mixin size($width, $height) {
  border-radius: 0.11 * $height;
  height: $height;
  width: $width;
}

.small {
  @include size(38px, 38px);
}

.medium {
  @include size(48px, 48px);
}

.large {
  @include size(70px, 70px);
}

.extraLarge {
  @include size(140px, 140px);
}

.logoContainer {
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-shrink: 0;
  overflow: hidden;

  .logo {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

@include customMedia {
  &.logoContainer {
    align-self: center;
  }

  .extraLarge {
    margin-bottom: $spacing-l;
  }
}
