@import "$styles/_variables.scss";

@mixin size($width, $height) {
  height: $height;
  width: $width;
  border-radius: 0.11 * $height;
}

.small {
  @include size(38px, 38px)
}

.medium {
  @include size(48px, 48px)
}

.large {
  @include size(70px, 70px)
}

.extraLarge {
  @include size(140px, 140px)
}

.logoContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;

  .logo {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .logoContainer {
    align-self: center;

    .extraLarge {
      margin-bottom: $bigSpacing;
    }
  }
}
