@import "$styles/_detailsVariables.scss";
@import "$styles/_variables.scss";


.logoContainer {
  $logoWidth: 140px;
  height: $logoWidth;
  width: $logoWidth;
  box-shadow: 0 0 5px rgba(0, 64, 109, 0.2);
  border-radius: $defaultBorderRadius;
  background: white;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;

  .logo {
    max-width: $logoWidth;
    max-height: $logoWidth;
    margin: auto;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .logoContainer {
    align-self: center;
  }
}
