@import "$styles/_variables";

.userDetails {
  p {
    font-size: $fontSize-l;
    margin-bottom: $spacing-s;
  }
}

.userInfo {
  color: $black;
  font-size: $fontSize-l;
  margin-left: $spacing-s;
}
