@import "$styles/_detailsVariables.scss";

.items {
  display: flex;
  flex-direction: column;
  width: $item-width;

  .item {
    width: $item-width;
    height: $item-height;
    font-size: $item-font-size;
    margin-bottom: $item-margin-bottom;
  }

  .title {
    width: 100%;
    height: $item-height;
    font-size: $item-font-size;
    font-weight: bold;
    margin-bottom: $item-margin-bottom;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .items {
    margin: 20px 0 0 0;
    column-count: 1;
    max-width: 430px;
  }
}