@import "$styles/_variables.scss";

.items {
  display: flex;
  flex-direction: column;

  .item {
    margin-top: $itemMarginBottom;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .items {
    margin: 20px 0 0 0;
    column-count: 1;
    max-width: 430px;
  }
}
