@import "$styles/_variables.scss";

.items {
  display: flex;
  flex-direction: column;
  margin: 0;

  .item {
    margin-top: $itemMarginBottom;
  }
}

@media (max-width: $mobileContainerThreshold) {
  .items {
    column-count: 1;
    max-width: 430px;
    margin-top: 20px;
  }
}
