@import "$styles/_variables.scss";

.image {
  width: 200px;
  margin-bottom: $biggerSpacing;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: $normalSpacing;
}

.link {
  text-decoration: none;
}
