// Github monospace fontstack
$monospace: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$navbarHeight: rem-calc(50px);

$fontSize-xs: 10px;
$fontSize-s: 12px;
$fontSize-m: 14px;
$fontSize-l: 16px;
$fontSize-xl: 18px;
$fontSize-xxl: 20px;
$fontSize-xxxl: 24px;
