@import "$styles/mixins/_tableList";

.item {
  @include headerItem;

  &.names {
    grid-area: names;
  }

  &.studies {
    grid-area: studies;
  }

  &.email {
    grid-area: email;
  }

  &.padron {
    grid-area: padron;
  }

  &.dni {
    grid-area: dni;
  }

  &.state {
    grid-area: state;
  }

  &.actions {
    grid-area: actions;
  }
}
