@import "$styles/mixins/_tableList";

.item {
  @include headerItem;

  &.name {
    grid-area: name;
  }

  &.dni {
    grid-area: dni;
  }

  &.email {
    grid-area: email;
  }

  &.secretary {
    grid-area: secretary;
  }

  &.createdAt {
    grid-area: createdAt;
  }

  &.status {
    grid-area: status;
  }

  &.actions {
    grid-area: actions;
  }
}
