@import "$styles/mixins/_tableList";

.item {
  @include headerItem;

  &.name {
    grid-area: name;
  }

  &.surname {
    grid-area: surname;
  }

  &.email {
    grid-area: email;
  }

  &.secretary {
    grid-area: secretary;
  }

  &.createdAt {
    grid-area: createdAt;
  }
}
