@import "$styles/_variables";

.titleAndFilterContainer {
  margin-bottom: $spacing-m;
}

.titleContainer {
  display: flex;
}

.filterContainer {
  margin: $spacing-m 0 0;
}

.title {
  flex-grow: 1;
}

.children {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.list {
  height: fit-content;
}
