@import "$styles/_variables";

.titleContainer {
  display: flex;
}

.titleAndFilterContainer {
  background-color: $lighterGrey;
  border-radius: $borderRadius-m;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  margin: -#{$spacing-m} -#{$spacing-m} $spacing-m;
  padding: $spacing-m;
}

.title {
  flex-grow: 1;
}

.children {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.list {
  height: fit-content;
}
