@import "$styles/_variables";

.titleContainer {
  display: flex;
}

.title {
  flex-grow: 1;
}

.children {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.list {
  height: fit-content;
}

.filter {
  margin-bottom: $spacing-xl;
}
