@import "$styles/_variables";

.mainContent {
  display: flex;
  flex-direction: column;
}

.narrow {
  width: $detailContainerWidth;
}

.fullWidth {
  width: 100%;
}

@media (max-width: $laptopWidth) {
  .mainContent.narrow {
    width: 90vw;
  }
}
